<mat-toolbar class="toolbar-container" fxLayout="row">
  <div class="logo" routerLink="/">
    <img src="../../assets/svg/logo/texplicit02-logo.svg" />
  </div>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<div class="content">
  <mat-card class="mat-reset-password-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-header class="mat-reset-password-header">
        <mat-card-title class="mat-reset-password-title">
          Reset Password
        </mat-card-title>
        <mat-card-subtitle class="mat-reset-password-subtitle">
          Setup your new password
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mat-reset-password-content">
        <div class="mat-content-row">
          <mat-label class="required">New Password</mat-label>
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            class="mat-form-input"
          >
            <input
              matInput
              type="password"
              placeholder="Enter password ..."
              formControlName="newpassword"
            />
            <mat-error>Password field is required</mat-error>
          </mat-form-field>
        </div>
        <div class="mat-content-row">
          <mat-label class="required">Confirm Password</mat-label>
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            class="mat-form-input"
          >
            <input
              matInput
              type="password"
              placeholder="Enter password ..."
              formControlName="confirmpassword"
            />
            <mat-error>Password field is required</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-footer class="mat-reset-password-footer">
        <button mat-raised-button type="submit">Submit</button>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
