.chat-toolbar{
    align-items: stretch;
    position: absolute;
    //width:30%;
    padding: 0;
    height: 90px;
    // background-color: #E1E5F1;
    // @media (max-width: 1199.98px) {
    //     width: 100%;
    // }

    .chat-toolbar-titlebar{
        height: 48px;
        background-color: #171d5e;
    }

    .chat-toolbar-buttons{
        height: 35px;
        display: flex;
        // align-items: center;
        // justify-content: flex-end;
    }
}

.chat-conversation{
    // border: 1px solid #333;
    padding: 15px;
    margin-top: 90px;
    margin-bottom: 56px;
    height: calc(100vh - 240px);
    overflow: hidden;
    overflow-y: scroll;
}

.chat-composer{
    position: absolute;
    bottom: 0;
    //width:30%;
    padding: 0 14px;
    border-top: 0.5px solid #ccc;
    background-color: #fff;

    // @media (max-width: 1199.98px) {
    //     width: 100%;
    // }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    // .chat-composer-editor{
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     padding: 7px;

    //     .chat-editor{
    //         width:calc(100% - 50px);
    //         border: 0.5px solid #4E525F;
    //         border-radius: 8px;
    //         font-style: normal;
    //         font-weight: 400;
    //         // 1366: 12px, 1920: 14px
        font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
    //         line-height: 14px;
    //         letter-spacing: 0.01em;
    //         color: #777A80;
    //         padding: 7px;
    //     }

    //     .chat-editor:focus,.chat-editor:active{
    //         outline: 0;
    //         border: 0.5px solid #4E525F;
    //     }
    // }
}

.chat-dropdown-option{
    // 1366: 12px, 1920: 14px
        font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

:host ::ng-deep .chat-dropdown {
    mat-select{
        //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    .mat-mdc-form-field-infix {
        padding-top: 0!important;
        padding-bottom: 0!important;
        width: 160px;
        min-height: 30px;
        //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }
}

:host ::ng-deep .chat-composer-editor{
    width:auto;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    min-height: 0;

    .mdc-text-field{
        color: #040F2F;
        font-family: "Roboto", sans-serif;
        //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
        font-weight: 400;
        letter-spacing: 0.14px;
    }

    .mat-mdc-form-field-icon-prefix>.mat-icon{
        padding: 5px 6px 5px 10px;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        width: 36px;
        height: 34px;
        padding: 5px 6px;
    }

    .mat-mdc-icon-button .mat-mdc-button-touch-target {
        height: 34px;
    }
    .mat-mdc-form-field-infix {
        padding-top: 9px;
        padding-bottom: 9px;
        min-height: 0!important;
    }

    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }

    .mdc-text-field--focused,
    .mdc-notched-outline{

        .mdc-notched-outline__leading{
            border-left: 0.5px solid #4E525F;
            border-top: 0.5px solid #4E525F;
            border-bottom: 0.5px solid #4E525F;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: transparent;
        }

        .mdc-notched-outline__trailing{
            border-right: 0.5px solid #4E525F;
            border-top: 0.5px solid #4E525F;
            border-bottom: 0.5px solid #4E525F;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: transparent;
        }
    }
}
