p {
  margin: 0;
}

.report-steps {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid rgba(143, 148, 151, 0.63);
}

.registration-form {
  margin-right: 1.5rem;

  .form-title {
    color: #1c1d21;
    font-family: Poppins;
    //font-size: 16px;
    font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
    margin: 0;
  }

  .mat-form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
  }
}


:host ::ng-deep .mat-mdc-form-field {
  width: 335px;
}

:host ::ng-deep .mat-dialog-body {
  padding: 12px;
  margin-left: -16px;
  margin-right: -16px;

  @media screen and (max-width: 280px) {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .form-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1.1rem;
  }

  .mat-form-input,
  .mat-form-daterange {
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    min-height: 0;

    mat-label {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    }

    mat-icon {
      &.link-icon {
        color: #4e525f;
        margin-right: 3px;
        padding: 7px;
      }
    }

    .mdc-text-field {
      color: #040f2f;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      line-height: 22px;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: #040f2f;
    }

    .mdc-text-field--invalid:not(.mdc-text-field--disabled)
      .mdc-floating-label {
      color: #f44336;
    }

    .mat-mdc-form-field-icon-prefix > .mat-icon {
      padding: 5px 6px 5px 10px;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
      width: 36px;
      height: 34px;
      padding: 5px 6px;
    }

    .mat-mdc-icon-button .mat-mdc-button-touch-target {
      height: 34px;
    }

    .mat-mdc-form-field-infix {
      padding-top: 9px;
      padding-bottom: 9px;
      min-height: 0 !important;
      letter-spacing: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mdc-text-field--focused,
    .mdc-notched-outline {
      .mdc-notched-outline__notch {
        border: none;
        border-bottom: 0.5px solid #4e525f;
      }
      .mdc-notched-outline__leading {
        border-left: 0.5px solid #4e525f;
        border-top: 0.5px solid #4e525f;
        border-bottom: 0.5px solid #4e525f;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: transparent;
      }

      .mdc-notched-outline__trailing {
        border-right: 0.5px solid #4e525f;
        border-top: 0.5px solid #4e525f;
        border-bottom: 0.5px solid #4e525f;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: transparent;
      }
    }

    .mat-input-button {
      cursor: pointer;
      border: none;
      border-left: 0.5px solid #4e525f;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #fff;
      padding: 10px 15px;
      color: #4e525f;
      text-align: center;
      font-family: Roboto, sans-serif;
      //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  mat-form-field:not(:first-child) {
    margin-top: 2em;
  }

  &.pt-0 {
    padding-top: 0;
  }
}

:host ::ng-deep .mat-dialog-footer {
  display: flex;
  justify-content: space-between;

  .btn-google {
    cursor: pointer;
    display: flex;
    padding: 14px 30px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    border: 1px solid #374b88;
    background-color: transparent;
    color: #374b88;
    text-align: center;
    font-family: Roboto, sans-serif;
    //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    font-style: normal;
    line-height: normal;
    font-weight: 500;
  }

  .btn-submit {
    cursor: pointer;
    padding: 14.5px 40px;
    border-radius: 100px;
    border: none;
    background: #ffbe17;
    color: #141516;
    text-align: center;
    font-family: Roboto, sans-serif;
    //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
