.report-steps {
  padding-bottom: 28px;
  margin-bottom: 31px;
  border-bottom: 0.5px solid rgba(143, 148, 151, 0.63);
}

.registration-form {
  margin-right: 2.5rem;

  .form-title {
    color: #1c1d21;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
  }

  .mat-form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
