.chat-card {
  z-index: -1;
  border: 0;
  border-radius: 15px;
  box-shadow: none;
  margin-bottom: 10px;
}

.chat-card.default {
  background-color: #eaedef;
}

.chat-card.default .title {
  font-weight: 500;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #227aff;
}
.chat-card.default .subtitle {
  font-weight: 400;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #4e525f;
}

.chat-card.default .subtitle strong {
  font-weight: 500;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #4e525f;
}
.chat-card.default .caption {
  font-weight: 400;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  color: #666974;
}

.chat-card.system {
  background-color: #eaedef;
  margin-right: 20px;
}

.chat-card.user {
  background-color: #d7e5ef;
  margin-left: 20px;
}

.logo {
  background-color: #fff;
  width: 2em;
  height: 2em;
}

.logo img {
  width: 18px;
  height: 17px;
  margin-top: 5px;
}

.text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  text-align: left;
}

.chat-card.system .text {
  color: #666974;
}

.chat-card.user .text {
  color: #4d5059;
}

.mat-mdc-card-footer {
  padding: 1rem;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  color: #777a80;

  p {
    margin: 0;
    text-align: right;
  }
}

.mat-mdc-card-content:last-child {
  padding-top: 16px;
  margin-bottom: 0;
}
