.main-body {
  max-height: 25rem;
  overflow-y: auto;
  padding: 1rem 1rem 1rem 0.5rem;
}

.reports-in-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
