<app-dialog-base [modalTitle]="'Filter'" (onClose)="onCloseClick()">
    <form content [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-dialog-content class="mat-dialog-body" >
            <mat-form-field appearance="outline" floatLabel="always" class="mat-form-input">
                <mat-label>Media Ref.</mat-label>
                <mat-select multiple  value="Small" placeholder="Select category ..."  formControlName="category">
                    <mat-option *ngFor="let tag of tags; let i=index" [value]="i"  class="mat-form-input-option">
                        {{ tag }}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions class="mat-dialog-footer">
            <button mat-raised-button type="submit" class="primary">Apply</button>
            <button mat-raised-button type="reset" class="secondary" (click)="formReset()">Reset</button>
        </mat-dialog-actions>
    </form>
</app-dialog-base>
