.contact-container{
    background-color: #fff;
    height: 100%;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    mat-card-header{
        mat-card-title{
            padding: 2rem 0;
            margin: 0;
            color: #040f2f;
            font-family: Domine,serif;
            font-weight: 500;
            font-size: 30px;
            text-align: center;

            @media screen and (max-width: 393px) {
                font-size: 24px;
            }
        }
    }

    mat-card-content{
        .contact-info{
            margin: 0;
            padding: 0;
            margin-top: 3em;
            list-style: none;
            display: flex;
            justify-content: space-between;
            gap: 2em;

            @media screen and (max-width: 1000px) {
                flex-direction: column;
                margin-left: 2em;
            }

            @media screen and (max-width: 393px) {
                flex-direction: column;
                margin-top: 1em;
                margin-left: 1em;
                gap: 1em;
            }

            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 5px;
                border: 0;
                border-top: 1px solid #227aff;
                //box-shadow: 0 16px 17px #227aff4a;
                box-shadow: 0px 38px 49px rgba(129, 151, 163, 0.22);
                min-width: 30%;
                position: relative;

                @media screen and (max-width: 1000px) {
                    flex-direction: row;
                    border: 0;
                    border-left: 1px solid #227aff;
                }

                @media screen and (max-width: 393px) {
                    box-shadow: none;
                }

                .icon{
                    width:72px;
                    height: 72px;
                    background-color: #227aff;
                    border:0.5px solid #227aff;
                    overflow: visible;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    box-shadow: 0 16px 17px #227aff4a;
                    position: absolute;
                    top: -36px;
                    left: auto;

                    @media screen and (max-width: 1000px) {
                        top:auto;
                        left:-36px;
                    }

                    @media screen and (max-width: 393px) {
                        width:32px;
                        height: 32px;
                        top:auto;
                        left:-18px;
                    }
                    mat-icon{
                        font-size: 48px;
                        width:48px;
                        height: 48px;
                        color: #fff;

                        @media screen and (max-width: 393px) {
                            font-size: 24px;
                            width:24px;
                            height: 24px;
                        }
                    }
                }

                .text{
                    margin-top: 3em;
                    padding: 1em;
                    min-height: 60px;
                    font-family:'Roboto',sans-serif;
                    font-weight: 400;
                    //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
                    color: #4E525F;
                    @media screen and (max-width: 1000px) {
                        margin-top: 0;
                        margin-left: 2em;
                        display: flex;
                        align-items: center;
                    }

                    @media screen and (max-width: 393px) {
                        padding: .5em;
                        margin-top: 0;
                        margin-left: 1em;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

:host ::ng-deep .mat-mdc-card-header-text{
    width:100%;
}