
    <mat-card class="contact-container">
        <mat-card-header>
            <mat-card-title>Get in touch with us for more Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <ul class="contact-info">
                <li>
                    <div class="icon">
                        <mat-icon>location_on</mat-icon>
                    </div>
                    <div class="text">
                        7 Anthony Bagan Lane, <br/>
                        Kolkata, West Bengal,  <br/>
                        India, PIN 700009
                    </div>
                </li>
                
                <li>
                    <div class="icon">
                        <mat-icon>mail</mat-icon>
                    </div>
                    <div class="text">info@springandriver.com</div>
                </li>
                
                <li>
                    <div class="icon">
                        <mat-icon>phone</mat-icon>
                    </div>
                    <div class="text">+91 9831164127</div>
                </li>
            </ul>        
        </mat-card-content>
    </mat-card>
