<div class="about-us-container">
    <div class="about-us-text-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <!-- About Texplicit 02, a Latin scholar from Hampden-Sydney College,
                     is credited with discovering. -->
                     Texplicit is a B2B, AI driven knowledge management solution.</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- <p>Texplicit is a B2B, AI driven knowledge management solution.</p> -->
              <p>It enables the user to combine knowledge collected from videos, podcasts, research papers available on the web, along with the organization’s own internal documents.Texplicit enables users to search and retrieve curated information from the repository. Its Generative AI powered question answer window provides you answers to any topical questions at the click of a mouse.</p>
              <p>Texplicit improves organization productivity dramatically.</p> </mat-card-content>
        </mat-card>
    </div>
    <div class="about-us-image-container">
        <img src="../../assets/images/about-us-bg.png"/>
    </div>
</div>
