.main-body {
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;

  .file-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .file-info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .icon {
        img {
          width: 20px;
          height: 20px;
        }
      }

      .name {
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 60vw;
      }
    }

    .download {
      cursor: pointer;
    }
  }
}
