<app-dialog-base [modalTitle]="'Source Documents'" (onClose)="onCloseClick()">
  <div content class="main-body">
    <div *ngFor="let file of files">
      <div class="file-row">
        <div class="file-info">
          <div class="icon">
            <img src="../../assets/svg/documents-icon/{{ getIcon(file) }}.svg" />
          </div>

          <div matTooltip="{{file.originalFileName}}" class="name">
            {{ file.originalFileName }}
          </div>
        </div>

        <div matTooltip="Download File" class="download" (click)="onDownloadClick(file)">
          <mat-icon>download</mat-icon>
        </div>
      </div>
    </div>
  </div>
</app-dialog-base>
