.mydocument-toolbar{
    background-color: transparent;
    .button-bar-row{
        padding: 0;
        height: max-content;
        margin-bottom: 0.5em;
        justify-content: space-between;
        @media screen and (max-width: 1000px) {
            flex-direction: column-reverse;   
            height: 80px;
            

            app-outer-toolbar-buttons{
                width: 100%;
            }
        }
        
        .search-container{
            width: 65%;
            @media screen and (max-width: 1000px) {
                width:100%;
            }
            app-search-input{
                width:100%;
            }
        }
    }
    .address-bar-row{
        padding: 0;
        height: max-content;
        margin-bottom: 0.5em;
        .address-bar{
            display: flex;
            align-items: center;
            border: 0.5px solid #C0C0C0;
            width: calc(100% - 16px);
            padding: 3px 5px;
            border-radius: 7px;

            .address-bar-input{
                width: calc(100% - 40px);
                outline: 0 !important;
                -webkit-user-select: none;
                user-select: none;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: italic;
                border: none;
                background: transparent;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

/******************** START UL LIKE TABLE ********************/
.files-container.list{
    width: 98%;
    .file-header-content{
        .header-row{
            margin: 0;
            padding: 0;
            list-style: none;
            font-family:'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 500;
            display: flex;

            border-bottom: 0.5px solid rgba(146, 149, 159, 0.55);

            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 5px;
                border-right: 0.5px solid rgba(146, 149, 159, 0.55);
                .btn-sort{
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    mat-icon{
                        width: min-content;
                        height: min-content;
                        font-size: 16px;
                    }
                }

                &.name-header{
                    width:  calc(50% + 80px);
                    padding: 0 5px;

                    @media screen and (max-width: 414px) {
                        border-right: none;
                        width: 100%;
                    }
                }

                &.date-header{
                    width:  10%;
                    padding: 0 5px;
                    
                    @media screen and (max-width: 915px) {
                        width: 25%;
                    }

                    @media screen and (max-width: 414px) {
                        display: none;
                    }
                }
                &.owner-header{
                    width:  10%;
                    padding: 0 5px;
                    @media screen and (max-width: 915px) {
                        width: 25%;
                    }

                    @media screen and (max-width: 414px) {
                        display: none;
                    }
                }
                &.type-header{
                    width: 10%;
                    padding: 0 5px;
                    @media screen and (max-width: 912px) {
                        display: none;
                    }
                }
                &.size-header{
                    width: 10%;
                    padding: 0 5px;
                    @media screen and (max-width: 912px) {
                        display: none;
                    }
                }
            }
        }
    }
    .file-body-content{
        height: calc(100vh - 250px);
        @media screen and (max-width: 1000px) {
            height: calc(100vh - 295px);
        }
        @media screen and (max-width: 540px) {
            height: calc(100vh - 285px);
        }
        overflow: hidden;
        overflow-y: auto;
        margin-right: -5px;
    }
    .file-footer-content{
        .footer-row{
            margin: 0;
            padding: 0;
            list-style: none;
            font-family:'Roboto', sans-serif;
            font-size: 12px;
            display: flex;
            border-top: 0.5px solid rgba(146, 149, 159, 0.55);

            li{
                display: flex;
                align-items: center;
                padding: 5px;
            }
        }
    }
}
/******************** END UL LIKE TABLE ********************/

/******************** START UL LIKE GRID ********************/
.files-container.grid{
    width: 98%;
    .file-header-content{
        display: none;
    }

    .file-body-content{
        height: calc(100vh - 225px);
        @media screen and (max-width: 1000px) {
            height: calc(100vh - 270px);
        }
        @media screen and (max-width: 540px) {
            height: calc(100vh - 260px);
        }
        overflow: hidden;
        overflow-y: auto;
        margin-right: -5px;
    }

    .file-footer-content{
        .footer-row{
            margin: 0;
            padding: 0;
            list-style: none;
            font-family:'Roboto', sans-serif;
            font-size: 12px;
            display: flex;
            border-top: 0.5px solid rgba(146, 149, 159, 0.55);

            li{
                display: flex;
                align-items: center;
                padding: 5px;
            }
        }
    }
}
/******************** END UL LIKE GRID ********************/

:host ::ng-deep .mat-mdc-tab-header{
    width: calc(100% - 75px)!important;
    @media screen and (max-width: 540px) {
        width: 100%!important;
    }
}

.toggle-button-holder{
    position: absolute;
    right:0;
    top:3px;

    @media screen and (max-width: 540px) {
        display: none;
    }
}

.btn-toggle-group{
    height: 30px;
    border: none;

    .btn-toggle{
        border: none;
        background-color: transparent;
        margin-left: 3px;
        margin-right:3px;
        width: 30px;
        height: 28px;
        font-family: 'Nunito Semibold', sans-serif;
        font-size: 14px;
        font-style: bold;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-unchecked{
            display: block;
        }

        .img-checked{
            display: none;
        }
    }

    .btn-toggle.mat-button-toggle-checked{
        .img-unchecked{
            display: none;
        }

        .img-checked{
            display: block;
        }
    }
}

:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content,
:host ::ng-deep .mat-button-toggle-label-content{
    padding: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
