<div class="consolidated-container">
    <mat-toolbar class="consolidated-toolbar">
        <h3 class="title">Consolidated Summary</h3>
        <app-inner-toolbar-buttons (onback)="backClick($event)"
        (powerpointtDownload)="consolidatedPowerpointDownload()" 
        (exceltDownload)="consolidatedExcelDownload()"
        (docDownload)="consolidatedDocDownload()"></app-inner-toolbar-buttons>
    </mat-toolbar>

    <div class="summary-container">
        <mat-card class="summary">
            <mat-card-header class="summary-header"></mat-card-header>
            <mat-card-content class="summary-content">
                <mat-card-title class="summary-title">{{consolidatedSummary.titleOptions}}</mat-card-title>
                <mat-card-subtitle class="summary-date">{{consolidatedSummary.generatedDate | date: 'MMMM dd, yyyy'}}</mat-card-subtitle>
               {{consolidatedSummary.paragraphs}} </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer class="summary-footer">
                <div class="footer-caption">Referral Links</div>
                <ul class="footer-link-list" *ngFor="let link of referralLinks">
                    <!-- <li>
                        <img src="../../../assets/svg/tags-icon/google-podcast.svg"/>
                        <a href="https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4">https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4</a>
                    </li>
                    <li>
                        <img src="../../../assets/svg/tags-icon/google-books.svg"/>
                        <a href="https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4">https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4</a>
                    </li>
                    <li>
                        <img src="../../../assets/svg/tags-icon/research.svg"/>
                        <a href="https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4">https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4</a>
                    </li>
                    <li>
                        <img src="../../../assets/svg/tags-icon/tedtalks.svg"/>
                        <a href="https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4">https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4</a>
                    </li>
                    <li>
                        <img src="../../../assets/svg/tags-icon/youtube.svg"/>
                        <a href="https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4">https://podcasts.apple.com/us/podcast/multi-channel-marketing-for-building-an-unstoppable/id1076436648?i=1000588813284&uo=4</a>
                    </li> -->
                    <li>
                        <img src="{{link?.tag}}"/>
                        <a (click)="goToExternalLink(link.url)">{{link.url}}</a>
                </ul>
            </mat-card-footer>
        </mat-card>
    </div>
</div>

<app-fab-buttons (onItemizedSummary)="onItemizedSummaryClick($event)" (onHighlights)="onHighlightsClick($event)" [consolidatedSummaryButtonVisible]="false"></app-fab-buttons>

