<app-dialog-base [modalTitle]="'Disclaimer'" (onClose)="onCloseClick()">
    <mat-dialog-content content class="mat-dialog-body">
        <p>The original articles or contents displayed on this product shall remain the copyrighted materials of its original publishers or owners as indicated on their respective websites. Dissemination of any information and/or derivative works using such articles shall be governed by the terms & conditions prescribed by its publishers or owners. Spring&River does not claim any title or ownership in such work, direct or indirect, in any manner whatsoever.</p>
    </mat-dialog-content>
</app-dialog-base>
