<app-dialog-base [modalTitle]="'Disclaimer'" (onClose)="onCloseClick()">
    <mat-dialog-content content class="mat-dialog-body">
      <p>The content is curated using Artificial Intelligence tools with the information available in public domain. The Company does not claims any intellectual property rights (IPR) over such curated contents. Further, it also affirms that IPR shall remain with the authors of the original owner, if any, and the company does not claim any IPR therein.</p>

      <p>While every effort has been made to ensure the accuracy and reliability of the information provided, the solution is based on machine learning algorithms and cannot guarantee the complete accuracy, relevance, or reliability of the information provided.</p>

      <p>Users are advised to use their own discretion and judgment when evaluating the accuracy and reliability of the generated content and should not rely solely on the AI-generated content for critical decision-making, professional advice, or any legal purposes.</p>

      <p>The company disclaim any and all responsibility for any inaccuracies, omissions, or errors in the generated content, as well as any loss, damage, or harm that may arise from the use or reliance on the AI-generated content. By using this solution, the users agree to assume full responsibility for their use of the generated content and any consequences that may arise, in any manner whatsoever.</p>
    </mat-dialog-content>
</app-dialog-base>
