.itemized-container{
    background-color: #fff;
    border: 1px solid #4285F4;
    border-radius: 20px;
    padding: .25em 1em 1em;
    .itemized-toolbar{
        padding: 20px 0 5px 0;
        height: min-content;

        background-color: #fff;
        justify-content: space-between;
        .title{
            color: #474A55;
            font-size: 18px;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 500;
            margin: 0.5em 0;
        }
    }

    .summary-container{
        //border-top: 0.5px solid #4285F4;
        height: calc(100vh - 170px);
        overflow: hidden;
        overflow-y: scroll;
        

        .summary{
            margin: 36px 0;
            border: 0;
            box-shadow: none;
            .summary-content{
                padding: 0;
                color: #4E525F;
                font-size: 16px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

                .summary-title{
                    color:#040F2F;
                    font-size: 20px;
                    font-family:'Domine', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    padding: 7px 0;
                    padding-top: 0;
                }
    
                .summary-date{
                    color: #4E525F;
                    font-size: 12px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    padding-bottom: 7px;
                }
                .itemized-summary{
                    color:#040F2F;
                    h2{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            
        }

        .summary:first-child{
            margin-top:0;
        }
    }
}