.file-row {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
  display: flex;
  margin-bottom: 0.5rem;

  td {
    display: flex;
    align-items: center;
    padding: 0 1%;
  }

  .combined-cell {
    width: 40%;
    justify-content: space-between;

    .report-document {
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;

      .icon {
        img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      .name {
        padding-left: 10px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }

    .action {
      .btn-row {
        width: 24px;
        height: 24px;
        border: none;
        background: transparent;
        cursor: pointer;

        mat-icon {
          width: min-content;
          height: min-content;
          font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
        }
      }
    }
  }

  .task {
    width: 20%;

    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  .date {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 1199.98px) {
      width: 30%;
    }
  }

  .report-type {
    width: 10%;

    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  .audio-player {
    width: 10%;
    justify-content: center;

    img {
      cursor: pointer;
    }
  }
}

::ng-deep .file-folder-menu button {
  mat-icon {
    color: #111541 !important;
  }
}
