.hover-box {
    display: none;
    padding: 8px;
    position:absolute;
    z-index: 1;
    background: #FFFFFF;
    border: 0.5px solid #4E525F;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    // line-height: normal;
    letter-spacing: 0.01em;
    font-family:'Roboto', sans-serif;
    text-shadow: none;
    white-space: nowrap;
    overflow:hidden ;
    text-overflow: ellipsis;
    max-width: 250px;
    
  }
  
  .type:hover .hover-box {
    display:block;
    
  }
  
.mr-10px{
    margin-top: 10px;
}
.file-row.grid
{
    margin: 5px;
    padding: 0;
    list-style: none;
    width:128px;
    height: 128px;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    border: 0.5px solid rgba(146, 149, 159, 0.55);
    border-radius: 5px;
    position: relative;
    float: left;
    
    @media screen and (max-width:280px) {
        width:108px;
    }

    li{
        display: block;
        float: left;
        &.check{
            width: 20px;
            float: left;
        }
        &.icon{
            float: left;
            img{
                width: 84px;
                height: 84px;
            }
            mat-icon{
                width: 84px;
                height: 84px;
                font-size: 84px;
            }
        }
        &.name{
            display: block;
            width: calc(100% - 10px);
            padding: 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
        }
        &.action{
            width: 24px;
            padding: 0 5px;
            position: absolute;
            right: 0;
            .btn-row{
                width: 24px;
                height: 24px;
                padding: 0;
                border: none;
                background: transparent;
                cursor: pointer;

                mat-icon{
                    width: min-content;
                    height: min-content;
                    font-size: 16px;
                }
            }
        }
        &.date{
            display: block;
            width: calc(100% - 10px);
            padding: 0 5px;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
            text-overflow: ellipsis;
        }
        &.owner{
            display: block;
            width: calc(100% - 10px);
            padding: 0 5px;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
            text-overflow: ellipsis;
        }
        &.type{
            display: none;
        }
        &.report-type{
            display: none;
        }
    }

    &.noCheckbox{
        li{
            &.check{
                display: none;
            }
            &.icon{
                margin-left: 2.5px;
            }
        }
    }
}


.file-row.list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    position: relative; // added

    li{
        display: flex;
        align-items: center;
        &.check{
            width: 20px;
        }
        &.icon{
            width: 24px;
            img{
                width: 24px;
                height: 24px;
            }

        }
        &.name{
            display: block;
            width: 50%;
            padding: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

            @media screen and (max-width: 414px) {
                width: calc(100% - 44px);
            }
        }
        &.action{
            width: 24px;
            padding: 0 5px;

            .btn-row{
                width: 24px;
                height: 24px;
                padding: 0;
                border: none;
                background: transparent;
                cursor: pointer;

                mat-icon{
                    width: min-content;
                    height: min-content;
                    font-size: 16px;
                }
            }
        }
        &.date{
            width: calc(10% - 30px);
            display: block;
            padding: 5px;
            padding-right: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: 912px) {
                width: calc(25% - 30px);
            }

            @media screen and (max-width: 414px) {
                display: none;
            }
        }
        &.report-type{ // same as type, just name changed
            width: 10%;
            justify-content:flex-start;
            padding: 0 5px;
            // text-transform: uppercase;

            @media screen and (max-width: 912px) {
                display: none;
            }
        }
        &.type{ // same as size, just name changed
            width: calc(10% - 30px);
            justify-content:flex-start;
            padding: 0 5px;
            padding-right: 35px;
            position: relative;

            @media screen and (max-width: 912px) {
                display: none;
            }
        }
    }
}

::ng-deep .file-folder-menu button{
    mat-icon{
        color: #111541 !important;
    }
}


.full-type {
    display: none;
    cursor: pointer;
    color: #111541 ; 
}

.type:hover .full-type {
    display: block;
}

.type:hover .type-preview {
    display: none;
}



        