<div class="highlight-toolbar-container">
    <mat-toolbar class="highlight-toolbar">
        <h3 class="title">Highlights</h3>
        <app-inner-toolbar-buttons (onback)="backClick($event)"
                            (powerpointtDownload)="highlightsPowerpointDownload()" 
                            (exceltDownload)="highlightsExcelDownload()"
                            (docDownload)="highlightsDocDownload()"></app-inner-toolbar-buttons>
    </mat-toolbar>

    <div class="highlight-container">
        <mat-card class="highlight" *ngFor="let data of highlightsData">
            <mat-card-header class="highlight-header">
                <img src="{{ setThumbnail(data.kiDetails[0].kiData.thumbnail, data.kiDetails[0].kiData.domain.topic) }}"/>
            </mat-card-header>
            <mat-card-content class="highlight-content">
                <mat-card-title class="highlight-title" (click)="goToKiDetailsPage(data.kiDetails[0].kiData._id)">{{data.kiDetails[0].kiData.title}}</mat-card-title>
                <ul class="highlight-list" *ngFor="let highlight of data.highlights">
                    <!-- <li>Creating a real estate brand is about more than just having a  <span>Huge social media following</span>  or a great farming strategy.</li>
                    <li>It’s about having  <span>People believe</span>  they see you everywhere, as if you’re already a part of their lives.</li>
                    <li>And that takes multi-channel marketing. On This Week in Marketing,  <span>Jason Pantana interviews Krista Farr</span>  of the Farr Group Northwest out of Spokane, WA.</li>
                    <li>Krista’s multi-channel marketing approach is about more than just getting their brand everywhere it’s about strengthening the brand so that it seeps into the collective minds of her marketplace, because as Krista will tell you,  <span>Social media alone</span>  isn’t good enough. If you’re looking for a way to build an unstoppable brand that continues to drive numbers, even in hard markets, you need to hear Krista’s multi-channel marketing strategy.</li>
                    <li>And you can do that,  <span>Right</span>  here.</li> -->
                    <li [innerHTML]="getFormattedSentence(highlight.Sentence, highlight.KeyPhrases)">
                     </li>
                     <!-- <li><span [innerHTML]="getFormattedSentence(highlight.Sentence, highlight.KeyPhrases)"></span></li> -->

                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<app-fab-buttons (onItemizedSummary)="onItemizedSummaryClick($event)" (onConsolidatedSummary)="onConsolidatedSummaryClick($event)" [highlightsButtonVisible]="false"></app-fab-buttons>

