<ngx-doc-viewer 
    class="doc-viewer"
    [url]="'https://scholar.harvard.edu/files/torman_personal/files/samplepptx.pptx'"
    viewer="google">
</ngx-doc-viewer>
<!-- [url]="'https://filesamples.com/samples/document/doc/sample2.doc'" -->
<!-- [url]="'https://filesamples.com/samples/document/docx/sample1.docx'" -->
<!-- [url]="'https://filesamples.com/samples/document/ppt/sample3.ppt'" -->
<!-- [url]="'https://scholar.harvard.edu/files/torman_personal/files/samplepptx.pptx'" -->
<!-- [url]="'https://filesamples.com/samples/document/xls/sample1.xls'" -->
<!-- [url]="'https://filesamples.com/samples/document/xlsx/sample2.xlsx'" -->
<!-- [url]="'https://filesamples.com/samples/document/pdf/sample3.pdf'" -->
