<app-dialog-base [modalTitle]="'Share File/Folder'" (onClose)="onCloseClick()">
  <mat-tab-group content>
    <mat-dialog-content class="mat-dialog-body tab-content">
      <mat-tab label="Texplicit User">
        <mat-dialog-content class="mat-dialog-body">
          <app-search-input [placeHolder]="'Search User(s)'" [searchValue]="userSearchQuery"
            (onCharSearch)="searchUsers($event)" (onClear)="clearUserSearch()"></app-search-input>
        </mat-dialog-content>
        <div class="users-container">
          <ul class="user" *ngFor="let user of filteredUsers">
            <li class="user-icon">
              <img src="../../../assets/images/user-icon.png" />
            </li>
            <li class="user-name">
              <div>
                <h5>{{ user.name }}</h5>
              </div>
            </li>
            <li class="user-buttons">
              <button matTooltip="Share" (click)="shareToInternal(user._id)" *ngIf="!hasAccess(user._id)">
                <mat-icon>share</mat-icon>
              </button>
              <button matTooltip="Already Shared" (click)="shareToInternal(user._id)" *ngIf="hasAccess(user._id)">
                <mat-icon>done</mat-icon>
              </button>
            </li>
          </ul>
        </div>
      </mat-tab>
    </mat-dialog-content>

    <mat-tab label="Email">
      <form class="email-form" [formGroup]="emailShareForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content class="mat-dialog-body tab-content">
          <mat-form-field appearance="outline" class="emails-chip-list">
            <mat-label>Email Addresses</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter emails" formControlName="emailIds">
              <ng-container *ngFor="let email of emails; let i = index">
                <mat-chip-row (removed)="remove(email)" [editable]="true" (edited)="edit(email, $event)"
                  [aria-description]="'press enter to edit ' + email.address">
                  {{ email.address }}
                  <button matChipRemove [attr.aria-label]="'remove ' + email.address">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </ng-container>
              <input placeholder="New email..." [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
            <ng-container *ngIf="emailShareForm.get('emails')?.invalid">
              <mat-error>{{ getEmailsErrorMessage() }}</mat-error>
            </ng-container>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions class="mat-dialog-footer">
          <button mat-raised-button type="submit" [disabled]="!emailShareForm.valid">Share</button>
        </mat-dialog-actions>
      </form>
    </mat-tab>
  </mat-tab-group>
</app-dialog-base>
