.title {
  p {
    margin-top: 0;
  }

  max-width: 570px;

  .bold-title {
    color: #1c1d21;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 14px;
  }
}

.title-sm {
  color: #4e525f;
  font-family: Roboto, sans-serif;
  //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.title-sm-bold {
  font-weight: 500;
}

.reports {
  display: flex;
}

.basic-reports {
  justify-content: space-between;
}

.report-types {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.report {
  display: flex;
  gap: 20px;

  .report-icon-basic {
    width: 38px;
  }

  .report-icon-advanced {
    width: 56px;
  }

  .report-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .report-name {
      color: #1c1d21;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 187.5% */
    }

    .report-name-basic {
      //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
    }

    .report-name-advanced {
      //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    }

    .report-description {
      color: #4e525f;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 14px; /* 100% */
    }

    .report-description-basic {
      font-size: 12px;
    }

    .report-description-advanced {
      //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      max-width: 268px;
    }
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 16px;
  
  gap: 18px;
  border-bottom: 0.5px solid rgba(143, 148, 151, 0.63);

  .report-plans {
    display: flex;
    gap: 90px;

    .report-plan {
      .report-type {
        color: #1c1d21;
        font-family: Roboto;
        //font-size: 18px;
         font-size: clamp(1rem, 0.912rem + 0.2817vw, 1.25rem);
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
      }

      .report-pricing {
        color: #4e525f;
        font-family: Roboto;
        //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  

  .info {
    color: #1c1d21;
    font-family: Roboto;
    //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */

    ul {
      padding-left: 1rem;

      li {
        max-width: 34rem;
      }
    }
  }

  .action-area {
    align-self: flex-end;

    .btn-payment {
      border-radius: 100px;
      background: #ffbe17;
      color: #141516;
      text-align: center;
      font-family: Roboto;
      //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
      padding: 14.5px 40px;
      cursor: pointer;
    }
  }
}
