.title {
  p {
    margin-top: 0;
  }

  max-width: 570px;

  .bold-title {
    color: #1c1d21;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 14px;
  }
}

.title-sm {
  color: #4e525f;
  font-family: "Roboto", sans-serif;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  @media (max-width: 1199.98px) {
    line-height: 22px;
  }
}

.title-sm-bold {
  font-weight: 500;
}

.report-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-bottom: 0.5px solid rgba(143, 148, 151, 0.63);
  margin-bottom: 40px;
  padding-bottom: 45px;

  @media (max-width: 1199.98px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .report {
    display: flex;
    gap: 20px;

    .report-icon-basic {
      width: 56px;
    }

    .report-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .report-name {
        color: #1c1d21;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;

        //1366: 14px, 1920: 18px;
        font-size: clamp(0.875rem, 0.2586rem + 0.722vw, 1.125rem);
      }

      .report-description {
        color: #4e525f;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        // 1366: 12px, 1920: 14px
        font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
      }

      .description-bold {
        color: #1c1d21;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
      }

      .unit-price {
        margin-top: 8px;
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768.98px) {
    flex-direction: column;
    gap: 30px;
  }

  .info {
    color: #1c1d21;
    font-family: "Roboto", sans-serif;
    //font-size: 16px;
    font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */

    ul {
      padding-left: 1rem;

      li {
        max-width: 34rem;
        margin: 15px auto;
        line-height: 22px;
      }
    }

    @media (max-width: 1199.98px) {
      align-self: flex-end;
    }
  }

  .action-area {
    align-self: flex-end;

    .btn-payment {
      border-radius: 100px;
      background: #ffbe17;
      color: #141516;
      text-align: center;
      font-family: "Roboto", sans-serif;
      //font-size: 14px;
      font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
      padding: 14.5px 40px;
      cursor: pointer;
    }
  }
}
