<div class="comment-card">
    <div class="comment-user-icon">
        <img src="../../../../assets/images/user-icon.png"/>
    </div>
    <div class="comment-block">
        <div class="comment-block-content">
            <div class="comment-block-header">
                <div class="comment-block-header-text">
                    <div class="comment-block-postedby"> {{comment?.authorName}}</div>
                    <div class="comment-block-vertical-divider"></div>
                    <!-- <div class="comment-block-replyto" >{{comment?.replyTo}}</div> -->
                    <div class="comment-block-replyto" [innerHtml]="getReplyTo(comment)" *ngIf="parentAuthorName==''"></div>
                    <div class="comment-block-replyto" [innerHtml]="'Replying to ' + parentAuthorName" *ngIf="parentAuthorName!=''"></div>

                    <div class="toolbar-spacer"></div>
                    <!-- <div class="comment-block-time">{{comment?.created["$date"]| date: 'dd MMM yyyy'}}</div> -->
                    <div class="comment-block-time">{{ commentCreatedOn | dateAgo}}</div>
                </div>
                <button class="comment-block-more" *ngIf="Authorized()" [matMenuTriggerFor]="actionMenu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </div>
            <div class="comment-block-text" *ngIf="!toggleEditDiv">
                {{comment?.comment}}
            </div>

            <div class="comment-block-text" *ngIf="toggleEditDiv">
                <textarea #msgInput name="comment" type="text" rows="1" 
                [value]="comment.comment"></textarea>
                <button mat-icon-button matSuffix (click)="onEditComment()">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
            
        </div>
        <div class="comment-block-actions">
            <button class="comment-block-like" (click)="onlikeComment()">
                Like 
            </button>
            <div class="comment-block-like-count">{{comment?.likesCount}}</div>
            <div class="comment-block-vertical-divider"></div>
            <button class="comment-block-reply" (click)="onReplyClick()">
                Reply
            </button>
        </div>
    </div>
</div>
<mat-menu #actionMenu="matMenu" class="comment-action-menu">
    <button mat-menu-item (click)="onEditToggle()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onDeleteComment()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
</mat-menu>
