h1,
h2 {
  color: #040f2f;
  font-family: Poppins, serif;
  font-weight: 500;
  line-height: 26px;
}

h1 {
  text-align: center;
  font-size: clamp(0.875rem, 0.6513rem + 0.994vw, 1.5rem);
}

h2 {
  border-bottom: .5px solid rgba(146,149,159,.55);
  font-size: clamp(1.125rem, 1.037rem + 0.2817vw, 1.375rem);
}

section {
  margin: 1.5rem 0;
}

p,
ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #4e525f;
}
