<div class="manage-user-toolbar">
  <div class="manage-user-toolbar-search" fxLayout="row">
      <app-search-input [placeHolder]="'Search ...'" (onCharSearch)="searchUser($event)" (onClear)="clearSearchUser()"></app-search-input>
  </div>
  <app-outer-toolbar-buttons
      (onFilter)="onFilterClick()" 
      (onAddUser)="onAddEditUserClick()"
      [addUserButtonVisible]="addUserButtonVisible"
      [addUserEnable]="addUserEnable">
  </app-outer-toolbar-buttons>
</div>

<div class="table-container">
  <mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  (selectedTabChange)="tabChange($event)"
  #tabGroup
  >
  <mat-tab label="User Management">
  <table mat-table matSort #sortUser="matSort" [dataSource]="usertable" >
      <ng-container matColumnDef="name">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header class="name">Name</th>
        <td mat-cell *matCellDef="let element" class="name">
          <span class="linc">
            {{ element.name | titlecase }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="m-hide">Email</th>
          <td mat-cell *matCellDef="let element" class="m-hide">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="m-hide">Phone No</th>
        <td mat-cell *matCellDef="let element" class="m-hide">
          {{ element.mobileNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Activate/Deactivate</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="toggleStatus(element?._id)" type="button" class="btn" [ngClass]="{'primary-button': !element?.isActive, 'primary-button-outline': element?.isActive}">
            <ng-container *ngIf="element?.isActive">
                Deactivate
            </ng-container>
            <ng-container *ngIf="!element?.isActive">
                Activate
            </ng-container>
        </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="m-hide">Account Type</th>
        <td mat-cell *matCellDef="let element" class="m-hide">
          <span class="type">
            <!-- {{ element.domains | titlecase }}</span> -->
            <ng-container *ngIf="element?.role == 2">
              Professional
            </ng-container>
            <ng-container *ngIf="element?.role == 3">
              Personal
            </ng-container>
          </span>

        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" class="actions-container">
          <button mat-icon-button (click)="onAddEditUserClick(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedUserColumns; sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedUserColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedUserColumns.length">
          <div class="no-table-data">No data available</div>
        </td>
      </tr>
    </table>
    <mat-paginator 
      class="mat-paginator-sticky"
      [disabled]="isLoading"
      aria-label="Select page of users"
      #paginatorUser
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Knowledge Item Management">
    <table mat-table matSort #sortKi="matSort" [dataSource]="kitable" >
      <ng-container matColumnDef="title">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header class="name">Title</th>
        <td mat-cell *matCellDef="let element" class="name">
          <span class="linc">
            {{ element.title | titlecase }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="m-hide">Author</th>
          <td mat-cell *matCellDef="let element" class="m-hide">{{ element.authors}}</td>
      </ng-container>

      <ng-container matColumnDef="postedOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="m-hide">Posted On</th>
        <td mat-cell *matCellDef="let element" class="m-hide">
          {{ element.created | date : "MMMM d, yyyy" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" class="actions-container">
          <button mat-icon-button (click)="editKi(element?._id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedKiColumns; sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedKiColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedKiColumns.length">
          <div class="no-table-data">No data available</div>
        </td>
      </tr>
    </table>
    <mat-paginator 
      class="mat-paginator-sticky"
      [disabled]="isLoading"
      aria-label="Select page of KIs"
      #paginatorKi
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
  </mat-tab>
</mat-tab-group>
