<app-dialog-base [modalTitle]="'Forgot Password'" (onClose)="onCloseClick()">
    <form content [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3>Please enter your register email.</h3>
        <mat-dialog-content class="mat-dialog-body">
            <mat-form-field appearance="outline" floatLabel="always" class="mat-form-input">
                <mat-label>Email</mat-label>
                <input matInput
                    placeholder="Enter your email ..."
                    formControlName="email"/>
                   
            </mat-form-field>
            
        </mat-dialog-content>
        <mat-dialog-actions class="mat-dialog-footer">
            <button mat-raised-button type="submit" [disabled]="!form.valid">Submit</button>
        </mat-dialog-actions>
    </form>
</app-dialog-base>
