.title {
  color: #4e525f;
  font-family: "Poppins", sans-serif;
  //font-size: 18px;
  font-size: clamp(1rem, 0.912rem + 0.2817vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;

  @media (max-width: 1199.98px) {
    line-height: 24px;
  }

  p {
    margin: 0;
  }

  .bold-title-1 {
    font-weight: 600;
    color: #141516;
  }

  .bold-title-2 {
    font-weight: 600;
  }
}

.report-body {
  border-radius: 20px;
  height: calc(100vh - 160px);

  @media (min-width: 1200px) {
    margin-right: 20px;
  }
}

.main-body {
  height: calc(100vh - 100px);
  overflow-y: hidden;
  overflow-x: hidden;

  // border-radius: 30px;
  @media (max-width: 1199.98px) {
    height: calc(100vh - 80px);
  }
}

.report-form-custom-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.my-datasource-toolbar-config {
  width: auto;

  mat-form-field {
    mat-select {
      font-style: normal;
      font-weight: 500;
      text-shadow: none;
      display: end;
      color: #040f2f;
      font-family: "Roboto", sans-serif;
      //font-size: 14px;
      font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      line-height: normal;
      letter-spacing: 0.16px;
    }
  }

  @media (max-width: 1199.98px) {
    width: 100%;
    display: block;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.report-header {
  color: var(--NW_H1, #040f2f);
  font-family: "Roboto", sans-serif;
  //font-size: 20px;
  font-size: clamp(1.125rem, 1.037rem + 0.2817vw, 1.375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 130% */
  white-space: nowrap;
}

.report-sub-header {
  color: #777a80;
  font-family: "Roboto", sans-serif;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

/******************** START REPORTS TABLE **************************/
.table {
  width: 100%; // Adjust as needed

  thead {
    .header-row {
      display: flex;
      border-bottom: 0.5px solid rgba(146, 149, 159, 0.55);
      font-family: "Roboto", sans-serif;
      // 1366: 12px, 1920: 14px
      font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
      font-weight: 500;

      th {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 0.5px solid rgba(146, 149, 159, 0.55);
        padding: 0 1%;
        white-space: nowrap;

        &:last-of-type {
          border-right: none;
        }

        .btn-sort {
          width: 24px;
          height: 24px;
          border: none;
          background: transparent;
          cursor: pointer;

          mat-icon {
            width: min-content;
            height: min-content;
            font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
          }
        }

        &.name-header {
          width: 40%;
        }

        &.size-header {
          width: 20%;

          @media (max-width: 1199.98px) {
            display: none;
          }
        }

        &.date-header {
          width: 10%;

          @media (max-width: 1199.98px) {
            width: 30%;
          }
        }

        &.type-header {
          width: 10%;

          @media (max-width: 1199.98px) {
            display: none;
          }
        }

        &.audio-header {
          width: 10%;
        }
      }
    }
  }

  tbody {
    display: block;
    height: calc(100vh - 400px);
    overflow: auto;
  }
}
/******************** END REPORTS TABLE **************************/

:host ::ng-deep .mat-mdc-tab-header {
  width: calc(100% - 75px) !important;

  @media (max-width: 1199.98px) {
    width: 100% !important;
  }
}

.toggle-button-holder {
  position: absolute;
  right: 0;
  top: 3px;

  @media (max-width: 1199.98px) {
    display: none;
  }
}

.btn-toggle-group {
  height: 30px;
  border: none;

  .btn-toggle {
    border: none;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;

    width: 30px;
    height: 28px;
    font-family: "Roboto", sans-serif;
    //font-size: 14px;
    font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
    font-style: bold;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-unchecked {
      display: block;
    }

    .img-checked {
      display: none;
    }
  }

  .btn-toggle.mat-button-toggle-checked {
    .img-unchecked {
      display: none;
    }

    .img-checked {
      display: block;
    }
  }
}

:host
  ::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content,
:host ::ng-deep .mat-button-toggle-label-content {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .my-datasource-dropdown .mat-mdc-form-field-infix,
:host ::ng-deep .my-reports-dropdown .mat-mdc-form-field-infix {
  padding: 5px !important;
  // width: 150px;
  min-height: 35px !important; // prev- 30px
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
}

:host ::ng-deep .my-datasource-dropdown .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .my-reports-dropdown .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .my-datasource-dropdown .mat-mdc-select-trigger,
:host ::ng-deep .my-reports-dropdown .mat-mdc-select-trigger {
  z-index: 1;
}

:host ::ng-deep .my-datasource-dropdown .mdc-notched-outline__leading,
:host ::ng-deep .my-reports-dropdown .mdc-notched-outline__leading {
  border-left: 0.5px solid #4e525f;
  border-top: 0.5px solid #4e525f;
  border-bottom: 0.5px solid #4e525f;
  border-top-left-radius: 10px !important; // previous value 8px for all radius
  border-bottom-left-radius: 10px !important;
  background-color: white;
}

:host ::ng-deep .my-datasource-dropdown .mdc-notched-outline__trailing,
:host ::ng-deep .my-reports-dropdown .mdc-notched-outline__trailing {
  border-right: 0.5px solid #4e525f;
  border-top: 0.5px solid #4e525f;
  border-bottom: 0.5px solid #4e525f;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background-color: white;
}

:host ::ng-deep .my-datasource-dropdown .mat-mdc-form-field-infix {
  width: 150px;

  @media (max-width: 1199.98px) {
    max-width: 120px;
  }
}

:host ::ng-deep .my-reports-dropdown .mat-mdc-form-field-infix {
  width: 180px;

  @media (max-width: 1199.98px) {
    max-width: 170px;
  }
}

.my-datasource-option {
  font-style: normal;
  font-weight: 400;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #777a80;
}

.websearch-heading,
.report-heading {
  color: var(--NW_H1, #040f2f);
  font-family: "Roboto", sans-serif;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 108.333% */
}

.websearch-heading {
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  margin-top: 30px;
  padding-right: 20px;

  @media (max-width: 1199.98px) {
    padding-right: 40px;
  }
}

.mr-20px {
  margin-right: 20px;

  @media (max-width: 1199.98px) {
    margin-bottom: 5px;
    margin-right: 0;
  }
}

.mr-top {
  margin-top: 20px;
}

.mr-top-10 {
  margin-top: 10px;
}

.mr-left-15 {
  margin-left: 15px;
}

.mr-left-top {
  // margin-left: 2px;
  margin-top: 15px;
}

.top-40 {
  border-top: 0.5px solid #8f9497a1;
  padding-top: 10px;
  margin-top: 60px;

  @media (max-width: 1199.98px) {
    margin-top: 30px;
  }
}

.mr-websearch {
  margin-top: 30px;

  // padding-right:20px;
  @media (max-width: 1199.98px) {
    padding-right: 0;
  }
}

.rep-gen-toolbar-config {
  width: auto;

  mat-form-field {
    mat-select {
      font-style: normal;
      font-weight: 400;
      // 1366: 12px, 1920: 14px
      font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
      line-height: 14px;
      letter-spacing: 0.01em;
      color: #777a80;
      font-family: Poppins, sans-serif;
      text-shadow: none;
      display: end;
    }
  }
}

:host ::ng-deep .search-wrapper {
  width: 100% !important;
  background: #fff;
  display: flex;
  align-items: center;
  // padding: 5px 10px;
  // border: 0.5px solid #4E525F;
  border-radius: 10px;
  min-height: 0;
  font-family: "Roboto", sans-serif;

  @media (max-width: 1199.98px) {
    width: 100%;
  }

  @media (max-width: 740px) {
    width: 86%;
    justify-content: space-between;
  }

  .mat-mdc-form-field-icon-prefix > .mat-icon {
    padding: 5px 6px 5px 10px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 36px;
    height: 34px;
    padding: 5px 6px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    height: 34px;
  }

  .mat-mdc-form-field-infix {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 0 !important;
    color: #040f2f;
    font-family: "Roboto", sans-serif;
    //font-size: 14px;
    font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
    font-weight: 500;
    //letter-spacing: 0.14px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mdc-text-field--focused,
  .mdc-notched-outline {
    .mdc-notched-outline__leading {
      border-left: 0.5px solid #4e525f;
      border-top: 0.5px solid #4e525f;
      border-bottom: 0.5px solid #4e525f;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: transparent;
    }

    .mdc-notched-outline__trailing {
      border-right: 0.5px solid #4e525f;
      border-top: 0.5px solid #4e525f;
      border-bottom: 0.5px solid #4e525f;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: transparent;
    }
  }
}

.generated-reports-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 1rem auto;
  align-items: center;

  .gen-report {
    margin-top: 1rem;
  }
}

::ng-deep .mat-slide-toggle {
  transform: scale(0.8);
}

// :host ::ng-deep  .mdc-form-field {
//     width: 65px;
// }
:host
  ::ng-deep
  .mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--selected
  .mdc-switch__icon {
  background-color: #00c68a !important;
  border: 1px solid #00c68a;
  position: relative;
  border-radius: 100px;
}

.mat-mdc-slide-toggle.mat-accent {
  // background-color: #ADE5D5 !important;
  --mdc-switch-selected-track-color: #ade5d5;
  --mdc-switch-selected-hover-track-color: #ade5d5;
  --mdc-switch-selected-focus-state-layer-color: #ade5d5;
  --mdc-switch-selected-handle-color: #ade5d5;
  --mdc-switch-selected-hover-state-layer-color: #ade5d5;
  --mdc-switch-selected-pressed-state-layer-color: #ade5d5;
  --mdc-switch-selected-focus-handle-color: #ade5d5;
  --mdc-switch-selected-hover-handle-color: #ade5d5;
  --mdc-switch-selected-pressed-handle-color: #ade5d5;
  --mdc-switch-selected-focus-track-color: #ade5d5;
  --mdc-switch-selected-hover-track-color: #ade5d5;
  --mdc-switch-selected-pressed-track-color: #ade5d5;
}

.input-row {
  @media (max-widht: 767.98px) {
    gap: 1rem;
  }
}

.first-row {
  display: contents;
  justify-content: space-evenly;
  gap: 1rem;
}

.first-row-first-section {
  width: 100%;
}

.first-row-second-section {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    gap: 1rem;
    margin-right: 1rem;
  }

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.first-row-third-section {
  display: flex;
  justify-content: flex-start;

  @media (max-width: 767.98px) {
    margin-top: 5px;
  }

  .report-type-order {
    @media (max-width: 1199.98px) {
      order: -1;
      margin-right: 20px;
    }

    @media (max-width: 769.98px) {
      order: -1;
      margin-right: 20px;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.second-row {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  button {
    margin-top: 16px;
    border-radius: 32.5px;
    padding: 10px 25px !important;
    text-align: center;
    font-family: "Roboto", sans-serif;
    //768px - 14px, 1920px - 16px;
    font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.btn-report {
  background: #ffbe17 !important;
  color: #141516 !important;

  @media (max-width: 414px) {
    width: 230px;
    height: 48px;
  }
}

.btn-subtopics {
  color: #4d5e92 !important;

  @media (max-width: 414px) {
    width: 230px;
    height: 48px;
  }
}

.reports-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.audio-player {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 100px;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 20px;
}

.audio-player-hidden {
  display: none;
}
