:host ::ng-deep .mdc-evolution-chip-set .mdc-evolution-chip-set__chips {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.chip-container{
    width:auto;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.btn-left,.btn-right{
    border: none;
    cursor: pointer;
}

.btn-left div,.btn-right div{
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #777A80;
    width:10px;
    height: 10px;
}

.btn-left div{
    transform: rotate(45deg);
}

.btn-right div{
    transform: rotate(225deg);
}

.subtopic{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4E525F;
    background-color: #e1e5f1;
}