.toolbar-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25px solid #8f9497a1;

  @media screen and (max-width: 1000px) {
    padding-left: 0;
    padding-left: 1px;
  }
  .logo {
    margin-right: 1em;
    cursor: pointer;
    img {
      vertical-align: middle;
    }
  }
  button {
    width: 36px;
    height: 36px;
    padding: 6px;
    background-color: #ededed;
    &.menu-btn {
      background-color: transparent;
      img {
        width: 20px;
      }
    }

    &.user-icon {
      padding: 0;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
    mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: #111541;
    }
  }
}

.custom-sidenav-container {
  background-color: #ffffff;
}

mat-sidenav {
  width: 84px;
}

.left-sidenav-container {
  border-radius: 20px;
  background-color: #6528f7;
  box-shadow: 0px 20px 40px 0px rgba(86, 80, 255, 0.38);
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;

  @media screen and (max-width: 1000px) {
    position: absolute;
    z-index: 3 !important;
  }
  .menu-container {
    padding: 0;
    margin: 0;
    list-style: none;

    mat-divider {
      border-bottom: 0.5px solid rgba(91, 97, 161, 0.73);
    }
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 18px 23px;
    cursor: pointer;

    .active-menu-item-container {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 16px;

      .active-menu-indicator {
        width: 5px;
        height: 45px;
        background-color: #fff;
        border-radius: 99px;
        margin: 0;
      }
    }

    .active-menu-text {
      display: block !important;
      padding-left: 20px;
    }

    .menu-icon {
      width: 30px;
      height: 30px;
    }

    .menu-icon-active {
      width: 39px;
      height: 39px;
    }

    .menu-item-label {
      margin-top: 5px;
      color: #f8f4ff;
      text-align: center;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 11px; /* 91.667% */
      display: none;
    }
  }

  .menu-item-active {
    padding-left: 0;
  }

  .is-active {
    background-color: #366d72;
  }
}

.main-container-content {
  margin-left: 150px !important;
  @media screen and (max-width: 1000px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .main-container {
    height: calc(100vh - 96px);
    padding: 1rem;
    @media screen and (max-width: 1000px) {
      height: calc(100vh - 88px);
    }
  }
}

.sidenav-container {
  background-color: #e1e5f1;
  width: 25%;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.news-sidenav-container {
  background-color: #e1e5f1;
  width: 25%;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.chat-sidenav-container {
  background-color: #fff;
  width: 30%;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}
