:host{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(143, 148, 151, 0.63);
  @media (max-width: 1199.98px) {
    padding-left: 0;
    padding-left: 1px;
  }
  .logo {
    margin-right: 1em;
    cursor: pointer;
    img {
      vertical-align: middle;

      @media (max-width: 1199.98px) {
        width: 116px;
      }
    }
  }

  button {
    background-color: #ffffff;
    border: none;
    color: #141516;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    cursor: pointer;

    &.menu-btn {
      background-color: transparent;
      img {
        width: 20px;
      }

      @media (min-width: 1200px) {
        display: none;
      }
    }

    &.user-icon {
      padding: 0;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
  }

  .user-action-group {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    gap: 18px;

    button {
      cursor: pointer;
      border-radius: 100px;
      padding: 10px 26px;
      color: #141516;
      width: inherit;

      @media (max-width: 1199.98px) {
        padding: 6px 20px;
      }
    }

    .btn-login {
      background-color: #ffffff;
      border: 0.5px solid #4e525f;
    }

    .btn-register {
      background-color: #ffbe17;
      border: none;
    }
  }
}

.left-sidenav-container {
  background-color: #171d5e;
  width: 200px;

  @media (max-width: 1199.98px) {
    position: absolute;
    z-index: 3 !important;
  }
  .menu-container {
    padding: 0;
    margin: 0;
    list-style: none;

    mat-divider {
      border-bottom: 0.5px solid rgba(91, 97, 161, 0.73);
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    //font-size: 16px;
    font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    padding: 18px 20px;
    cursor: pointer;

    .menu-icon {
      width: 21px;
      height: 21px;
    }
  }

  .is-active {
    background-color: #366d72;
  }

  .menu-item-label {
    margin-left: 0.5rem;
  }

  .toolbar-links {
    margin-left: 0;
    font-size: 12px;
  }
}

.main-container-content {
  background-color: #ffffff;

  @media (max-width: 1199.98px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .main-container {
    height: 97%;
    padding-top: 1rem;
    padding-left: 24px;
    padding-right: 24px;

    @media (min-width: 1200px) {
      margin-right: 2rem;
      padding-left: 29px;
      padding-right: auto;
    }
  }
}

.sidenav-container {
  background-color: #e1e5f1;
  width: 25%;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.news-sidenav-container {
  background-color: #e1e5f1;
  width: 25%;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.chat-sidenav-container {
  background-color: #fff;
  width: 30%;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.note-sidenav-container {
  background-color: #fff;
  width: 30%;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.group-member-sidenav-container {
  background-color: #fff;
  width: 30%;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.workspace-sidenav-container {
  background-color: #fff;
  width: 30%;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    position: absolute;
    z-index: 2 !important;
    width: 100%;
  }
}

.vertical-divider {
  margin-left: 15px;
  margin-right: 15px;
  border-top: 0.5px solid #fff;
}

.horizontal-divider {
  height: 24px;
  border-left: 0.5px solid #989ba3;
  margin-left: 30px;
  margin-right: 30px;
}

:host ::ng-deep .mat-drawer-container {
  flex-grow: 1;
}
