<mat-toolbar class="toolbar-container" fxLayout="row">
  <button mat-icon-button class="menu-btn" (click)="leftnav.toggle()">
    <img src="../../assets/svg/top-nav-icon/hamburger.svg" />
  </button>

  <div class="logo" routerLink="/home">
    <img src="../../assets/svg/logo/texplicit02-logo.svg" />
  </div>
  <span class="toolbar-spacer"></span>

  <ng-container *ngIf="this.windowWidth >= 768">
    <button class="mr-5px" (click)="onDisclaimerClick()">Disclaimer</button>
    <button class="mr-5px" (click)="onAboutClick()">About Us</button>
    <button class="mr-5px" (click)="onContactClick()">Contact</button>
    <button class="mr-5px" (click)="onFeedbackClick()">Feedback</button>
    <button class="mr-5px" (click)="onPricingClick()">Pricing</button>

    <div class="horizontal-divider"></div>
  </ng-container>

  <button class="user-icon" *ngIf="isUserLoggedIn()" mat-icon-button matTooltip="{{ userName }}"
    [matMenuTriggerFor]="userMenu">
    <img src="../../assets/images/user-icon.png" />
  </button>

  <div class="user-action-group" *ngIf="!isUserLoggedIn()">
    <button class="btn-login" (click)="onLoginClick()">Login</button>
    <button class="btn-register" (click)="onRegistrationClick()">
      Get Started Now
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container autosize class="custom-sidenav-container">
  <mat-sidenav #leftnav class="left-sidenav-container" mode="side" [opened]="sidenavState">
    <ul class="menu-container">
      <li class="menu-item" routerLink="/home" routerLinkActive="menu-item-active">
        <div routerLinkActive="active-menu-item-container">
          <img [src]="'../../assets/svg/side-nav-icon/icon-home.svg'" class="menu-icon"
            routerLinkActive="menu-icon-active" />
        </div>
        <span class="menu-item-label" routerLinkActive="active-menu-text">Home</span>
      </li>
      <li class="menu-item" routerLink="/my-documents" routerLinkActive="menu-item-active">
        <div routerLinkActive="active-menu-item-container">
          <img [src]="'../../assets/svg/side-nav-icon/icon-mydocuments.svg'" class="menu-icon"
            routerLinkActive="menu-icon-active" />
        </div>
        <span class="menu-item-label" routerLinkActive="active-menu-text">My Documents</span>
      </li>
      <li class="menu-item" routerLink="/reports" routerLinkActive="menu-item-active">
        <div routerLinkActive="active-menu-item-container">
          <img [src]="'../../assets/svg/side-nav-icon/icon-reports.svg'" class="menu-icon"
            routerLinkActive="menu-icon-active" />
        </div>
        <span class="menu-item-label" routerLinkActive="active-menu-text">Reports</span>
      </li>
      <li *ngIf="isUserLoggedIn() && checkUserRole()" class="menu-item" routerLink="/user-management"
        routerLinkActive="menu-item-active">
        <div routerLinkActive="active-menu-item-container">
          <img [src]="'../../assets/svg/side-nav-icon/icon-user-management.svg'" class="menu-icon"
            routerLinkActive="menu-icon-active" />
        </div>
        <span class="menu-item-label" routerLinkActive="active-menu-text">Manage User</span>
      </li>

      <ng-container *ngIf="this.windowWidth < 768">
        <div class="vertical-divider"></div>
        <li class="menu-item" (click)="onPricingClick()">
          <span class="menu-item-label toolbar-links" routerLinkActive="active-menu-text">Pricing</span>
        </li>
        <li class="menu-item" (click)="onAboutClick()">
          <span class="menu-item-label toolbar-links" routerLinkActive="active-menu-text">About Us</span>
        </li>
        <li class="menu-item" (click)="onContactClick()">
          <span class="menu-item-label toolbar-links" routerLinkActive="active-menu-text">Contact</span>
        </li>
        <li class="menu-item" (click)="onFeedbackClick()">
          <span class="menu-item-label toolbar-links" routerLinkActive="active-menu-text">Feedback</span>
        </li>
        <li class="menu-item" (click)="onDisclaimerClick()">
          <span class="menu-item-label toolbar-links" routerLinkActive="active-menu-text">Disclaimer</span>
        </li>
      </ng-container>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="main-container-content">
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #rightnav position="end" mode="side" class="sidenav-container" [opened]="newsOpen() || chatOpen()">
    <app-chat-panel *ngIf="chatOpen()"></app-chat-panel>
  </mat-sidenav>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu" class="comment-action-menu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="onLogoutClick()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
