<mat-card class="comment-main-container">
    <mat-card-header>
        <mat-toolbar fxLayout="column" class="comment-toolbar">
            <div class="comment-toolbar-title">({{totalCount}} comments)</div>
            <span class="toolbar-spacer"></span>
            <div class="comment-toolbar-actions">
                <div class="comment-sort-caption">Sort By</div>
                <mat-form-field appearance="outline" class="comment-sort-dropdown mr-5px">
                    <mat-select placeholder="Please Select" [(ngModel)]="selectedSort" (selectionChange)="onSortChange()"> 
                        <mat-option value="Top Comments" class="comment-sort-option">Top Comments</mat-option>
                        <mat-option value="Latest Comments" class="comment-sort-option">Latest Comments</mat-option>
                        <mat-option value="Oldest Comments" class="comment-sort-option">Oldest Comments</mat-option>
                      </mat-select>                      
                </mat-form-field>
            </div>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content class="comment-list-container">
        <app-comment-list [comments]="comments" 
                            (onCommentLike)="clickLikeComment($event)"
                            (onCommentDelete)="clickDeleteComment($event)"
                            (onCommentReply)="clickReplyComment($event)"
                            (onCommentEdit)="clickEditComment($event)"></app-comment-list>
    </mat-card-content>
    <mat-card-footer>
        <div class="comment-footer-row" >
            <img src="../../../../assets/images/user-icon.png"/>
            <div class="text-box-holder">
                <div class="reply-container"  *ngIf="selectedComment">
                    <div class="reply-to">
                        <div class="name">{{selectedComment?.authorName}}</div>
                        <div class="text">{{selectedComment?.comment}}</div>
                    </div>
                    <button class="reply-clear" (click)="clearSelectedComment()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
                <mat-form-field appearance="outline" class="message-input">
                    <input matInput #inputElement placeholder="Write your comment"/>
                    <button mat-icon-button matSuffix (click)="addComment()" >
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            
        </div>
    </mat-card-footer>
</mat-card>
