.comment-main-container{
    font-family: 'Roboto' serif;
    width:100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    mat-card-header{
        padding: 16px;
        @media screen and (max-width: 280px) {
            padding-left: 8px;
        }
        .comment-toolbar{
            padding: 0;
            height: min-content;
            background-color: transparent;
            .comment-toolbar-title{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                &::before{
                    content: 'Discussion ';
                    font-weight: 500;
                }

                @media screen and (max-width: 414px) {
                    display: none;
                }
            }

            .toolbar-spacer{
                @media screen and (max-width: 280px) {
                        display: none;
                }
            }

            .comment-toolbar-actions{
                display: flex;
                align-items: center;
                .comment-sort-caption{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    padding: 0 10px;
                }

                
            }
        }
    }

    .comment-list-container{
        //height: calc(100vh - 275px);
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    mat-card-footer{
        padding: 16px;
        .comment-footer-row{
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                width:46px;
                height:46px;
                border-radius: 50%;

                @media screen and (max-width: 414px) {
                    display: none;
                }
            }

            .text-box-holder{
                // display: flex;
                // flex: 1 1 auto;
                margin: 0 8px;
                position: relative;
                width:calc(100% - 46px);

                @media screen and (max-width: 414px) {
                    width:100%;
                    margin: 0;
                }

                .reply-container{
                    position: absolute;
                    top:-55px;
                    display: flex;
                    border:0.5px solid #C0C0C0;
                    border-left: 5px solid #227AFF;
                    background-color: rgb(225, 229, 241);
                    border-radius: 8px;
                    width:99%;
                    padding: 2px 0;
                    .reply-to{
                        padding: 5px 7px;
                        width: calc(100% - 42px);
                        .name{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                        }
                        .text{
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            font-weight: 400;
                            font-size: 12px;
                        }
                    }
                    .reply-clear{
                        margin: 3px;
                        width:24px;
                        height: 24px;
                        padding: 0;
                        background-color: transparent;
                        border: none;
                        mat-icon{
                            width:20px;
                            height: 20px;
                            font-size: 20px;
                        }
                    }
                }
                
            }
            
        }
    }
}

:host ::ng-deep .comment-sort-dropdown{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #141516;

    .mat-mdc-form-field-infix {
        padding: 10px 7px!important;
        width: 130px;
        min-height: 40px;
        font-size: 14px;
    }

    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }

    // .mat-mdc-select-trigger{
    //     z-index: 1;
    // }

    .mdc-notched-outline__leading{
        border-left: 0.5px solid #A3A6AE;
        border-top: 0.5px solid #A3A6AE;
        border-bottom: 0.5px solid #A3A6AE;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        background-color: transparent;
        width: 100px;
    }

    .mdc-notched-outline__trailing{
        border-right: 0.5px solid #A3A6AE;
        border-top: 0.5px solid #A3A6AE;
        border-bottom: 0.5px solid #A3A6AE;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: transparent;
    }
}

.comment-sort-option{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #777A80;
}

:host ::ng-deep .message-input{
    flex: 1 1 auto;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    min-height: 0;

    .mdc-text-field{
        color: #040F2F;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }

    .mat-mdc-form-field-icon-prefix>.mat-icon{
        padding: 5px 6px 5px 10px;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        width: 36px;
        height: 34px;
        padding: 5px 6px;
    }

    .mat-mdc-icon-button .mat-mdc-button-touch-target {
        height: 34px;
    }
    .mat-mdc-form-field-infix {
        padding-top: 9px;
        padding-bottom: 9px;
        min-height: 0!important;
        
    }

    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }

    .mdc-text-field--focused,
    .mdc-notched-outline{

        .mdc-notched-outline__leading{
            border-left: 0.5px solid #4E525F;
            border-top: 0.5px solid #4E525F;
            border-bottom: 0.5px solid #4E525F;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: transparent;
        }

        .mdc-notched-outline__trailing{
            border-right: 0.5px solid #4E525F;
            border-top: 0.5px solid #4E525F;
            border-bottom: 0.5px solid #4E525F;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: transparent;
        }
    }
}