<div class="heading">
  Create your report in <span class="heading-bold">4 easy steps</span>
  <a (click)="dismissSteps()" class="dismiss-link">
    (Don't show again &#10006;)</a>
</div>

<div class="report-steps">
  <div class="step-set-1">
    <div class="step">
      <img src="../../assets/svg/report-steps-icon/icon-report-topic.svg" alt="icon-report-topic" class="step-icon" />
      <p class="step-name">Key in the report topic</p>
    </div>
    <img src="../../assets/svg/report-steps-icon/icon-arrow.svg" alt="icon-arrow" class="step-arrow" />
    <div class="step">
      <img src="../../assets/svg/report-steps-icon/icon-report-format.svg" alt="icon-report-format" class="step-icon" />
      <p class="step-name">Select your report format</p>
      <p class="step-description">(Word or PDF)</p>
    </div>
  </div>

  <img src="../../assets/svg/report-steps-icon/icon-arrow.svg" alt="icon-arrow" class="step-arrow step-arrow-hidden" />

  <div class="step-set-2">
    <div class="step">
      <img src="../../assets/svg/report-steps-icon/icon-report-source.svg" alt="icon-report-source" class="step-icon" />
      <p class="step-name">Select the source</p>
    </div>
    <img src="../../assets/svg/report-steps-icon/icon-arrow.svg" alt="icon-arrow" class="step-arrow" />
    <div class="step">
      <img src="../../assets/svg/report-steps-icon/icon-report-type.svg" alt="icon-report-type" class="step-icon" />
      <p class="step-name">Select report type</p>
    </div>
  </div>
</div>

<div class="report-types-title">Report Types</div>

<div class="report-types">
  <div class="part-one">
    <div class="report-type">
      <p class="type">Outline</p>
      <p class="type-description">Bulleted outline for the report</p>
    </div>
    <div class="report-type">
      <p class="type">Summary</p>
      <p class="type-description">
        Provides an overview of all sections to be contained in the report
      </p>
    </div>
  </div>
  <div class="part-two">
    <div class="report-type">
      <p class="type">Detailed</p>
      <p class="type-description">
        Gives a comprehensive report covering all the sections outlined in
        research. Key in a maximum of five sub-topics
      </p>
    </div>
  </div>
</div>
