.heading {
  color: #4e525f;
  font-family: "Roboto", sans-serif;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);

  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  margin-bottom: 15px;

  .heading-bold {
    font-style: italic;
  }

  .dismiss-link {
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    font-style: italic;
    color: red;
  }
}

.report-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2.5rem;
  flex-wrap: wrap;

  @media (max-width: 1199.98px) {
    margin-right: 0;
    gap: 1rem;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1199.98px) {
      width: 160px;
    }

    .step-name {
      color: #1c1d21;
      font-family: "Roboto", sans-serif;

      //1366: 14px, 1920: 16px
      font-size: clamp(0.875rem, 0.5668rem + 0.361vw, 1rem);

      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 166.667% */
      margin: 0;
      margin-top: 8px;
      @media (max-width:414px) {
        display: flex;
        flex-wrap: nowrap;
        line-height: 17px;
      }
    }

    .step-description {
      color: #4e525f;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      margin: 0;
      line-height: 14px; /* 107.692% */
    }

    .step-icon {
      width: 3vw;

      @media (max-width: 1199.98px) {
        width: 42px;
      }
    }
  }

  .step-arrow {
    align-self: flex-start;
    margin-top: 1rem;
  }
}

.report-types-title {
  color: #1c1d21;
  font-family: "Roboto", sans-serif;

  //1366: 14px, 1920: 16px
  font-size: clamp(0.875rem, 0.5668rem + 0.361vw, 1rem);

  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
  border-top: 0.5px solid #8f9497a1;
  padding-top: 12px;
  margin-top: 15px;
}

.report-types {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  gap: 4rem;
  margin-right: 2.5rem;

  @media (max-width: 1199.98px) {
    gap: 20px;
    flex-wrap: wrap;
  }

  .part-one,
  .part-two {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .report-type {
    @media (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
    }

    .type {
      color: #1c1d21;
      font-family: "Roboto", sans-serif;

      //1366: 14px, 1920: 16px
      font-size: clamp(0.875rem, 0.5668rem + 0.361vw, 1rem);

      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      margin: 0;
      width: 60px;
      margin-right: 21px;

      @media (max-width: 1199.98px) {
        margin-bottom: 6px;
      }
    }

    .type-description {
      color: #4e525f;
      font-family: "Roboto", sans-serif;
      // 1366: 12px, 1920: 14px
      font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
      // max-width: 400px;
      margin: 0;
    }
  }
}
