.heading {
  color: #4e525f;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  .heading-bold {
    font-weight: 500;
  }

  margin-bottom: 21px;
}

.report-steps {
  display: flex;
  justify-content: space-between;
  margin-right: 2.5rem;

  .step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .step-name {
      color: #1c1d21;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; /* 166.667% */
      margin: 0;
      margin-top: 8px;
    }

    .step-description {
      color: #4e525f;
      font-family: Roboto, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      margin: 0;
      line-height: 14px; /* 107.692% */
    }

    .report-types {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 12px;

      .report-type {
        display: flex;

        .type {
          color: #1c1d21;
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 142.857% */
          margin: 0;
          width: 60px;
          margin-right: 21px;
        }

        .type-description {
          color: #4e525f;
          font-family: Roboto, sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 150% */
          max-width: 206px;
          margin: 0;
        }
      }
    }
  }

  .step-arrow {
    align-self: flex-start;
    margin-top: 1rem;
  }
}
