.heading {
  color: #4e525f;
  font-family: Roboto, sans-serif;
  //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  .heading-bold {
    font-weight: 500;
  }

  margin-bottom: 15px;
}

.report-steps {
  display: flex;
  justify-content: space-between;
  margin-right: 2.5rem;

  .step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .step-name {
      color: #1c1d21;
      font-family: Roboto, sans-serif;
      //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 166.667% */
      margin: 0;
      margin-top: 8px;
    }

    .step-description {
      color: #4e525f;
      font-family: Roboto, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      margin: 0;
      line-height: 14px; /* 107.692% */
    }

    .step-icon {
      width: 40px;
      height: 40px;
    }
  }

  .step-arrow {
    align-self: flex-start;
    margin-top: 1rem;
  }
}

.report-types-title {
  color: #1c1d21;
  font-family: Roboto, sans-serif;
  //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  border-top: 0.5px solid #8F9497A1;
  padding-top: 12px;
  margin-top: 15px;
}

.report-types {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  gap: 4rem;
  margin-right: 2.5rem;

  .report-type {
    display: flex;
    flex-direction: column;

    .type {
      color: #1c1d21;
      font-family: Roboto, sans-serif;
      //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      margin: 0;
      width: 60px;
      margin-right: 21px;
    }

    .type-description {
      color: #4e525f;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
      max-width: 400px;
      margin: 0;
    }
  }
}
