.file-row.list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Roboto', sans-serif;
    // 1366: 12px, 1920: 14px
        font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
    display: flex;
    li{
        display: flex;
        align-items: center;
        &.check{
            width: 20px;
        }
        &.icon{
            width: 24px;
            img{
                width: 24px;
                height: 24px;
            }

        }
        &.name{
            display: block;
            width: calc(50% + 97px);
            padding: 5px;
            white-space: normal;
            // overflow: hidden;
            // text-overflow: ellipsis;

            @media screen and (max-width: 414px) {
                width: calc(100% - 44px);
            }
        }
        
        &.report-date{
            font-family: "Roboto", serif;
            font-style: normal;
            font-weight: 400;
            // 1366: 12px, 1920: 14px
        font-size: clamp(0.75rem, 0.4418rem + 0.361vw, 0.875rem);
            line-height: 24px;
            color: #4E525F;
            width: calc(100% - 270px);
            display: block;
            // padding: 5px;
            // padding-right: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (max-width: 912px) {
                width: calc(25% - 10px);
            }
        }
    }
}