:host {
  width: 100%;
}

.main-body {
  .topic {
    margin-top: 0;
  }

  .status {
    margin-bottom: 1rem;
  }

  .report-basic-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
