:host {
  width: 100%;
}

.main-body {
  .topic {
    margin: 0;
  }

  .status {
    margin-bottom: 1rem;
  }

  .report-basic-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .report-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .failed-report-actions{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .critical {
    color: red;
  }
}
