.title {
  p {
    margin-top: 0;
  }

  max-width: 570px;

  .bold-title {
    color: #1c1d21;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 14px;
  }

  .title-sm {
    color: #4e525f;
    font-family: Roboto, sans-serif;
    //font-size: 16px;
    font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

.pricing-options {
  height: 29vw;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 5rem;
  margin-bottom: 1.5rem;

  .pricing-plan-card {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #c7cce5;

    .pricing-icon {
      margin-top: 38px;
      width: 4.5rem;
    }

    .pricing-plan {
      color: #1c1d21;
      text-align: center;
      font-family: Roboto, sans-serif;
      //font-size: 20px;
      font-size: clamp(1.125rem, 1.037rem + 0.2817vw, 1.375rem);
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 125% */
      margin-top: 10px;
    }

    .pricing-description {
      color: #4e525f;
      text-align: center;
      font-family: Roboto, sans-serif;
      //font-size: 16px;
      font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
    }

    .deposit {
      color: #4e525f;
      text-align: center;
      font-family: Roboto, sans-serif;
      //font-size: 16px;
      font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 187.5% */
      margin-top: 40px;
    }

    .pricing-value {
      color: #1c1d21;
      text-align: center;
      font-family: Roboto, sans-serif;
      //font-size: 26px;
      font-size: clamp(1.5rem, 1.412rem + 0.2817vw, 1.75rem);
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 93.75% */
      margin-top: 6px;
    }

    .btn-plan-action {
      display: inline-flex;
      padding: 14.5px 40px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
      background: #ffbe17;
      border: none;
      margin-top: 39px;

      color: #141516;
      text-align: center;
      font-family: Roboto, sans-serif;
      //font-size: 16px;
      font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
    }
  }
}

.plan-set-description {
  color: #4e525f;
  font-family: Roboto, sans-serif;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
