.title {
  p {
    margin-top: 0;
  }

  max-width: 570px;

  .bold-title {
    color: #1c1d21;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 6px;
  }

  .title-sm {
    color: #4e525f;
    font-family: "Roboto", sans-serif;
    //font-size: 16px;
    font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    @media (max-width: 1199.98px) {
      line-height: 22px;
    }
  }
}

.pricing-options {
  height: 28vw;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 3rem;
  margin-bottom: 3.5vw;
  margin-top: 1vw;

  @media (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 36px;
    margin-right: 0;
    height: inherit;
    margin-bottom: 5rem;
  }

  .pricing-plan-card {
    padding: 0 1rem;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #c7cce5;

    @media (max-width: 1199.98px) {
      margin-left: 39px;
      margin-right: 39px;
    }

    .pricing-icon {
      margin-top: 38px;
      margin-bottom: 1rem;
      width: 5vw;

      @media (max-width: 1199.98px) {
        width: 79px;
      }
    }

    .pricing-plan {
      color: #1c1d21;
      text-align: center;
      font-family: "Roboto", sans-serif;

      //1366: 22px, 1920: 28px
      font-size: clamp(1.375rem, 0.4504rem + 1.083vw, 1.75rem);

      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 125% */
      margin-top: 10px;
      margin-bottom: 0.5rem;
    }

    .pricing-description {
      color: #4e525f;
      text-align: center;
      font-family: "Roboto", sans-serif;
      margin-bottom: 1rem;

      //1366: 18px, 1920: 22px
      font-size: clamp(1.125rem, 0.5086rem + 0.722vw, 1.375rem);

      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
    }

    .deposit {
      color: #4e525f;
      text-align: center;
      font-family: "Roboto", sans-serif;

      //1366: 16px, 1920: 18px
      font-size: clamp(1rem, 0.6918rem + 0.361vw, 1.125rem);

      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 187.5% */
      margin-top: 40px;
    }

    .pricing-value {
      color: #1c1d21;
      text-align: center;
      font-family: "Roboto", sans-serif;

      //1366: 18px, 1920: 32
      font-size: clamp(1.75rem, 1.1336rem + 0.722vw, 2rem);

      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 93.75% */
      margin-top: 6px;
    }

    .btn-plan-action {
      display: inline-flex;
      padding: 14.5px 40px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
      background: #ffbe17;
      border: none;
      margin-top: 39px;

      color: #141516;
      text-align: center;
      font-family: "Roboto", sans-serif;

      //1366: 16px, 1920: 18px
      font-size: clamp(1rem, 0.6918rem + 0.361vw, 1.125rem);

      font-style: normal;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
    }
  }
}

.plan-set-description {
  color: #4e525f;
  font-family: "Roboto", sans-serif;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  @media (max-widthl: 1199.98px) {
    display: inline-block;
    margin-top: 86px;
  }
}
