<div class="itemized-container">
    <mat-toolbar class="itemized-toolbar">
        <h3 class="title">Itemized Summary</h3>
        <app-inner-toolbar-buttons (onback)="backClick($event)"
                                    (powerpointtDownload)="itemizedPowerpointDownload()" 
                                    (exceltDownload)="itemizedExcelDownload()"
                                    (docDownload)="itemizedDocDownload()"></app-inner-toolbar-buttons>
    </mat-toolbar>

    <div class="summary-container">
        <mat-card class="summary" *ngFor="let summary of summaryData">
            <mat-card-content class="summary-content">
                <img src="{{ setThumbnail(summary.kiDetails[0].kiData.thumbnail, summary.kiDetails[0].kiData.domain.topic ) }}"/>
                <div class="summary-link">
                    <img src="{{getKiTypeIcon(summary)}}"/>
                    <!-- <a href="{{summary.kiDetails[0].kiData.url}}">{{summary.kiDetails[0].kiData.url}}</a> -->
                    <a (click)="goToExternalLink(summary.kiDetails[0].kiData.url)">{{summary.kiDetails[0].kiData.url}}</a>
                </div>
                <mat-card-title class="summary-title" (click)="goToKiDetailPage(summary.summary.kiId)">{{summary.kiDetails[0].kiData.title}}</mat-card-title>
                <mat-card-subtitle class="summary-date">{{summary.kiDetails[0].kiData.created | date:'MMMM dd, yyyy'}}</mat-card-subtitle>
                {{ summary?.summary?.summary}}</mat-card-content>
        </mat-card>
    </div>
</div>

<app-fab-buttons (onConsolidatedSummary)="onConsolidatedSummaryClick($event)" (onHighlights)="onHighlightsClick($event)" [itemizedSummaryButtonVisible]="false"></app-fab-buttons>
