.file-selector{
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        vertical-align: middle;

        @media (max-width:1199.98px){
            display: none;
        }
    }
    .file-text{
        color: #4E525F;
        text-align: center;
        font-family: "Roboto", sans-serif;
        //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 10px;
        @media (max-width:280px){
            margin-left: 0;
        }
    }
    .file-button{
        cursor: pointer;
        border: 1px solid rgba(146,149,159,.5490196078);
        border-radius: 32.5px;
        background: #FFF;
        padding: 10px 40px;
        color: #4e525f;
        text-align: center;
        font-family: "Roboto", sans-serif;
        //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;
        @media (max-width:280px){
            padding: 10px 10px;
        }
    }
}
.progress-holder{
    padding: 16px;
    padding-bottom: 0;
}
