<mat-toolbar fxLayout="column" class="news-toolbar">
    <mat-toolbar-row class="news-toolbar-titlebar">
        <div class="news-toolbar-title">NEWS</div>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="newsClose()">
            <mat-icon>highlight_off</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="news-toolbar-searchbar" >
        <app-search-input [placeHolder]="'Search News ...'" (onSearch)="newsSearch($event)" (onClear)="onClearNews()"></app-search-input>
    </mat-toolbar-row>
</mat-toolbar>
<div class="news-card-container">
    <div class="news-card-inner-container">
        <app-news-card *ngFor="let news of newsData" [news]="news"></app-news-card>
        <div *ngIf="loading" class="spinner-class" >
            <mat-spinner diameter="70"></mat-spinner>
        </div>
    </div>
</div>
<mat-toolbar fxLayout="row" class="news-footer" >
    <button mat-flat-button class="btn-full-width btn-primary" (click)="loadNews()">
        Load More
    </button>
</mat-toolbar>

