.icon-delete{
   position: absolute;
   bottom:16px; 
   right:18px;
}
:host ::ng-deep .my-datasource-dropdown .mat-mdc-form-field-infix {
    padding: 5px!important;
    width: 200px;
    min-height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-shadow: none;
    display: end;
    color: #040F2F;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    letter-spacing: 0.16px;
    @media screen and (max-width:414px) {
        width:120px;
        
    }
}
:host ::ng-deep .my-datasource-dropdown .mat-mdc-form-field-subscript-wrapper{
    display: none;
}
:host ::ng-deep .my-datasource-dropdown .mat-mdc-select-trigger{
    z-index: 1;
}
:host ::ng-deep .my-datasource-dropdown .mdc-notched-outline__leading{
    border-left: 0.5px solid #4E525F;
    border-top: 0.5px solid #4E525F;
    border-bottom: 0.5px solid #4E525F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}

:host ::ng-deep .my-datasource-dropdown .mdc-notched-outline__trailing{
    border-right: 0.5px solid #4E525F;
    border-top: 0.5px solid #4E525F;
    border-bottom: 0.5px solid #4E525F;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.report-heading,
.report-heading-source,
.report-heading-websearch{
    color: var(--NW_H1, #040F2F);
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 108.333% */
    text-transform: capitalize;
    white-space: nowrap;

}
.report-heading{
    margin-left: 48px;
}
.report-heading-source{
    margin-left: 210px;
    @media screen and (max-width: 414px) {
    margin-left: 80px;
    } 
}
.report-heading-websearch{
    margin-left: 178px;
    margin-right:auto;
    @media screen and (max-width: 414px) {
        margin-left: 110px;
        } 
}

.mr-10px{
    margin-right: 10px;
}

.mr-20px{
    margin-right: 20px;
    @media screen  and (max-width:1000px) {
        margin-bottom:5px;
    }
}

.mr-websearch{
    margin-top: 12px;
    // margin-right:auto;
    margin-left:40px;
    @media screen  and (max-width:414px) {
        margin-left: 30px;
    }
}



:host ::ng-deep .search-wrapper{
    width:270px;
    background: #fff;
    display: flex;
    align-items: center;
    //padding: 5px 10px;
    // border: 0.5px solid #4E525F;
    border-radius: 10px;
    min-height: 0;
    // margin-left: 50px;
    @media screen and (max-width: 740px) {
        width:86%;
        justify-content: space-between;

    } 
    @media screen and (max-width: 414px) {
        width:140px;

    } 
    // .mat-mdc-form-field-icon-prefix>.mat-icon{
    //     padding: 5px 6px 5px 10px;
    // }

    // .mat-mdc-icon-button.mat-mdc-button-base {
    //     width: 36px;
    //     height: 34px;
    //     padding: 5px 6px;
    // }

    .mat-mdc-icon-button .mat-mdc-button-touch-target {
        height: 34px;
    }
    .mat-mdc-form-field-infix {
        padding-top: 9px;
        padding-bottom: 9px;
        min-height: 0!important;
        color: #040F2F;
        // font-family: Roboto;
        font-family:'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        //letter-spacing: 0.14px;
    }

    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }

    .mdc-text-field--focused,
    .mdc-notched-outline{

        .mdc-notched-outline__leading{
            border-left: 0.5px solid #4E525F;
            border-top: 0.5px solid #4E525F;
            border-bottom: 0.5px solid #4E525F;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: transparent;
        }

        .mdc-notched-outline__trailing{
            border-right: 0.5px solid #4E525F;
            border-top: 0.5px solid #4E525F;
            border-bottom: 0.5px solid #4E525F;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: transparent;
        }
    }
}
:host ::ng-deep .mat-dialog-footer{
    justify-content:center;
    button{
        // margin-top: 10px;
        border-radius: 32.5px;
        padding: 10px 25px!important;
        text-align: center;
        // font-family: Roboto;
        font-family:'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;

        &.approve{
            border: none;
            background: #227AFF;
            color: #FFF;
        }
        &.reject{
            border: 1px solid rgba(146,149,159,.5490196078);
            background: #fff;
            color: #4e525f;
        }
    }
}

.mat-mdc-icon-button {
    margin-top: -3px;
    color:#4E525F
}
.mat-mdc-icon-button:hover{
    color:#FF3A3A;
}
.mat-mdc-icon-button {
    --mat-mdc-button-persistent-ripple-color: none; 
    --mat-mdc-button-ripple-color: none; 
}

