.thumbnail {
    height: 12em;
    width: 12em;
    object-fit: cover;
    border-radius: 23px;
}

.content-container {
    display: flex;
    align-items: flex-start;
}

.thumbnail-container {
    margin-right: 1.5em;
}

.ki-title {
    color: #040F2f;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family:Domine,serif;
    margin-bottom: 0.5em;
}

.ki-link {
    color: #227AFF;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0.5em;
    font-size: smaller;
    font-family: Roboto,sans-serif;
}
.ki-link:hover{
    text-decoration: underline;
}

.ki-domain {
    margin-top: 1em;
    color: #040F2f;
    font-weight: 500;
    font-family: Domine,serif;
}

.description {
    margin-top: 1em;
    font-weight: 400;
    //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
    line-height: 16px;
    font-family: Roboto,sans-serif;
    color:#4E525F;
}
:host ::ng-deep .mat-dialog-footer{
    justify-content: center;
    margin-top: 1.2em;
    button{

        border-radius: 32.5px;
        padding: 10px 25px!important;
        text-align: center!important;
        font-family: Roboto, sans-serif;
        //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;

        &.approve{
            border: none;
            background: #227AFF;
            color: #FFF;
        }
        &.reject{
            border: 1px solid rgba(146,149,159,.5490196078);
            background: #fff;
            color: #4e525f;
        }
    }
}
