.chat-card {
  z-index: -1;
  border: 0;
  border-radius: 15px;
  box-shadow: none;
  margin-bottom: 10px;
  background-color: transparent;
}

.chat-card.default {
  display: flex;
  justify-self: center;
  align-items: center;
}

.chat-card.default .title {
  font-weight: 500;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #227aff;
}
.chat-card.default .subtitle {
  font-weight: 400;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #4e525f;
}

.chat-card.default .subtitle strong {
  font-weight: 500;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #4e525f;
}
.chat-card.default .caption {
  font-weight: 400;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  color: #666974;
}

.chat-card.system {
  max-width: 75%;

  @media screen and (min-width: 1200px) {
    max-width: 50%;
  }
}

.chat-card.user {
  max-width: 75%;

  @media screen and (min-width: 1200px) {
    max-width: 50%;
  }
}

.logo {
  background-color: #fff;
  width: 2em;
  height: 2em;
  img {
    width: 18px;
    height: 17px;
    margin-top: 5px;
  }
}

.text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  text-align: left;
}

.chat-card.system .text {
  padding: 1rem;
  padding-top: 0;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  background: #e1e5ec;
  color: #666974;
  margin-bottom: 1rem;
}

.chat-card.user .text {
  padding: 1rem;
  padding-top: 0;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  background: #0087fd;
  color: #ffffff;
  margin-bottom: 1rem;
}

.chat-card.user .mat-mdc-card-footer {
  justify-content: flex-end;
}

.mat-mdc-card-footer {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;

  p {
    margin: 0;
    text-align: right;
  }

  @media screen and (max-width: 1199.98px) {
    gap: 0;
    flex-direction: column;
  }
}

.footer-chat-system{
  @media screen and (max-width: 1199.98px) {
    align-items: flex-start;
  }
}

.footer-chat-user{
  @media screen and (max-width: 1199.98px) {
    align-items: flex-end;
  }
}

.mat-mdc-card-content:last-child {
  padding-top: 16px;
  margin-bottom: 0;
}

.mat-mdc-fab {
  box-shadow: none;
}

.div-user-chat {
  display: flex;
  justify-content: flex-end;
}

.div-user-system {
  display: flex;
  justify-content: flex-start;
}
