.chat-card {
  border: none;
  border-radius: 20px;
  box-shadow: none;
  margin-bottom: 10px;
  background-color: transparent;
}

.chat-card.default {
  display: flex;
  justify-self: center;
  align-items: center;
}

.chat-card.default .title {
  font-weight: 500;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #227aff;
}
.chat-card.default .subtitle {
  font-weight: 400;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #4e525f;
}

.chat-card.default .subtitle strong {
  font-weight: 500;
  //font-size: 16px;
  font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
  color: #4e525f;
}
.chat-card.default .caption {
  font-weight: 400;
  //font-size: 14px;
  font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
  color: #666974;
}

.chat-card.system {
  max-width: 75%;

  @media screen and (min-width: 1200px) {
    max-width: 50%;
  }
}

.chat-card.user {
  max-width: 75%;

  @media screen and (min-width: 1200px) {
    max-width: 50%;
  }
}

.logo {
  background: none;
  border: none;

  img {
    width: 32px;
    height: 32px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  border-radius: 20px;
  color: #ffffff;
  margin-bottom: 0.1rem;

  .text {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  .text-system {
    color: #040f2f;
  }

  .text-user {
    color: #12192d;
  }
}

.content-system {
  background-color: #ffffff;
  border-top-left-radius: 0;
}

.content-user {
  background-color: #b5ebe8;
  border-top-right-radius: 0;
}

.chat-card.user .mat-mdc-card-footer {
  justify-content: flex-end;
}

.mat-mdc-card-footer {
  display: flex;
  margin-left: 4.5rem;
  margin-right: 4rem;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  color: #4e525f;
  margin-top: 10px;
  gap: 11px;
}

.footer-chat-system {
  @media screen and (max-width: 1199.98px) {
    align-items: flex-start;
  }
}

.footer-chat-user {
  @media screen and (max-width: 1199.98px) {
    align-items: flex-end;
  }
}

.mat-mdc-card-content:last-child {
  padding-top: 16px;
  margin-bottom: 0;
}

.mat-mdc-fab {
  box-shadow: none;
}

.div-user-chat {
  display: flex;
  justify-content: flex-end;
}

.div-user-system {
  display: flex;
  justify-content: flex-start;
}

.chat-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-chat-action {
  background: none;
  border: none;
  padding: 0;
}

.chat-response-loader {
  padding-top: 1rem;
}

:host ::ng-deep .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #000000 !important;
}
