<div class="outer-toolbar-button-group">
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Filter" *ngIf="filterButtonVisible" (click)="onFilterClick()">
        <mat-icon>filter_alt</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="NEWS" (click)="toggleNews()" *ngIf="newsButtonVisible">
        <mat-icon>article</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Back to parent" (click)="onBack()" *ngIf="backToParentButtonVisible">
        <mat-icon>drive_file_move_rtl</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Create New Folder" *ngIf="createFolderButtonVisible" (click)="onCreateFolderClick()">
        <mat-icon>create_new_folder</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Refresh" (click)="onRefresh()"*ngIf="refreshButtonVisible">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Upload File(s)" *ngIf="uploadFileButtonVisible" (click)="onFileUploadClick()">
        <mat-icon>upload_file</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Configure Datasource" *ngIf="configurationButtonVisible" (click)="onConfigureClick()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Add User" *ngIf="addUserButtonVisible" (click)="onAddUserClick()" [disabled]="!addUserEnable">
        <mat-icon>person_add_alt_1</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Report(s) in Progress" *ngIf="reportProgressButtonVisible" (click)="toggleReportProgress()">
        <mat-icon>published_with_changes</mat-icon>
    </button>
    <button mat-mini-fab class="btn-circle-icon-35" matTooltip="Failed Report(s)" *ngIf="failedReportsButtonVisible" (click)="toggleReportFailed()">
      <mat-icon>sync_problem</mat-icon>
    </button>
</div>

