.outer-toolbar-button-group{
    display: flex;
    justify-content: flex-end;
    button{
        mat-icon{
            color:#111541;
        }
    }

    .badge{
      position: absolute;
      top: 0;
      right: 0;
    }
}

::ng-deep .file-button-menu {
    button{
        color: #505050;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        padding: 0.7rem 1.25rem;
        border-radius: 50px;
        letter-spacing: 0;
        font-size: 13px;
        mat-icon{
            color: white;
        }
    }
}
