
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Texplicit2-primary: mat.define-palette(mat.$indigo-palette);
$Texplicit2-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Texplicit2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Texplicit2-theme: mat.define-light-theme((
  color: (
    primary: $Texplicit2-primary,
    accent: $Texplicit2-accent,
    warn: $Texplicit2-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Texplicit2-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
/*************** START SCROLLBAR ***************/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
/*************** END SCROLLBAR ***************/

/*************** TAB HEADER COLOR ***************/
.mat-mdc-tab .mdc-tab__text-label{
  color:#141516;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
  color:#227AFF;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
  border-color: #227AFF;
}
/*************** TAB HEADER COLOR ***************/
.mr-5px{
  margin-right: 5px;
}

.pt-5px{
  padding-top: 5px;
}

.m-show{
  display: none!important;

  @media screen and (max-width: 1000px) {
      display: block!important;
  }
}

.m-hide{
  display: ''!important;

  @media screen and (max-width: 540px) {
      display: none!important;
  }
}

.toolbar-spacer{
  flex: 1 1 auto;
}

.btn-full-width{
  width: 100%;
}

.btn-primary{
  background: #227AFF!important;
  color: #FFFFFF!important;
}

.btn-secondary{
  background: #4D5E92!important;
  color: #FFFFFF!important;
}

.btn-tertiary{
  background: #07C68D!important;
  color: #FFFFFF!important;
}

.btn-circle-icon-35{
  width: 35px!important;
  height: 35px!important;
  padding: 6px!important;
  background-color: #FFFFFF!important;
  margin: 0 3px;
}

.btn-circle-icon-35 img{
  width: 16px!important;
}

.btn-circle-icon-30{
  width: 30px!important;
  height: 30px!important;
  padding: 2px!important;
}

.btn-circle-icon-30 img{
  width: 24px!important;
}

.btn-toolbar{
  width: 30px!important;
  height: 30px!important;
  padding: 7px 9px 7px 3px!important;
}

.btn-toolbar-icon{
  font-size: 16px;
}

.btn-toolbar-35{
  width: 35px!important;
  height: 35px!important;
  padding: 6px 6px 8px 6px!important;
}

.btn-toolbar-icon-24{
  font-size: 24px;
}
.primary-button,
.primary-button-outline {
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
    // padding: 0.4rem 0.6rem !important;
    padding: 0.5rem 0.8rem !important;
    line-height: 18px;
    border-radius: 30px !important;
    letter-spacing: 0;
    text-align: center;
    width: 100px;
    cursor: pointer;

     @media (max-width: 991.92px){
    padding: 1rem 0.8rem !important;
 }
}
.primary-button {
  background-color: #0099cc !important;
  color: #ffffff !important;
  border: 1px;
}

.primary-button-outline {
  background-color: #ffffff !important;
  color: #0099cc !important;
  border: 1px solid!important;
}

.mdc-tab {
  height: 35px!important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #141516!important;
}

.mdc-tab--active{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #227AFF!important;
}

@media screen and (max-width: 1000px) {
  .sm-hide{
    display: none!important;
  }
}

/************************* START KI PANEL *************************/

.ki-col-dynamic{
  float: left;
  padding: 15px;
  // border: 1px solid red;
  width: calc(100% - 35px);

  @media screen and (min-width: 280px) and (max-width: 767px) {
      flex: 0 0 100%;
      max-width: calc(100% - 35px);
  }
  @media screen and (min-width: 768px) and (max-width: 912px) {
      flex: 0 0 45.5%;
      max-width: 45.5%;
  }

  @media screen and (min-width: 913px) and (max-width: 1024px) {
      flex: 0 0 30%;
      max-width: 30%;
  }
  @media screen and (min-width: 1025px) and (max-width: 1366px) {
      flex: 0 0 22.5%;
      max-width: 22.5%;
  }
  @media screen and (min-width: 1367px) and (max-width: 1920px) {
      flex: 0 0 18%;
      max-width: 18%;
  }

  &.list{
    max-width: calc(100% - 35px) !important;

    &:first-child{
      margin-top: 8px;
    }

    &:last-child{
      margin-bottom: 8px;
    }
  }

}

.ki-container[min-width~="248px"] .ki-col-dynamic:not(.list){
  flex: 0 0 100%;
  max-width: 100%;
}

.ki-container[min-width~="736px"] .ki-col-dynamic:not(.list){
  flex: 0 0 45.5%;
  max-width: 45.5%;
}

.ki-container[min-width~="985px"] .ki-col-dynamic:not(.list){
  flex: 0 0 30%;
  max-width: 30%;
}

.ki-container[min-width~="1327px"] .ki-col-dynamic:not(.list){
  flex: 0 0 22.5%;
  max-width: 22.5%;
}

.ki-container[min-width~="1880px"] .ki-col-dynamic:not(.list){
  flex: 0 0 18%;
  max-width: 18%;
}

/************************* END KI PANEL *************************/

/************************* START POST PANEL *************************/

.post-col-dynamic{
  float: left;
  padding: 8px 15px;
  // border: 1px solid red;
  width: calc(100% - 35px);

  @media screen and (min-width: 280px) and (max-width: 767px) {
      flex: 0 0 100%;
      max-width: calc(100% - 35px);
  }
  @media screen and (min-width: 768px) and (max-width: 912px) {
      flex: 0 0 45.5%;
      max-width: 45.5%;
  }

  @media screen and (min-width: 913px) and (max-width: 1024px) {
      flex: 0 0 30%;
      max-width: 30%;
  }
  @media screen and (min-width: 1025px) and (max-width: 1366px) {
      flex: 0 0 22.5%;
      max-width: 22.5%;
  }
  @media screen and (min-width: 1367px) and (max-width: 1920px) {
      flex: 0 0 18%;
      max-width: 18%;
  }

  &.list{
    max-width: calc(100% - 35px) !important;

    &:first-child{
      margin-top: 8px;
    }

    &:last-child{
      margin-bottom: 8px;
    }
  }

}

.post-container[min-width~="248px"] .post-col-dynamic:not(.list){
  flex: 0 0 100%;
  max-width: 100%;
}

.post-container[min-width~="734px"] .post-col-dynamic:not(.list){
  flex: 0 0 45.5%;
  max-width: 45.5%;
}

.post-container[min-width~="985px"] .post-col-dynamic:not(.list){
  flex: 0 0 30%;
  max-width: 30%;
}

.post-container[min-width~="1327px"] .post-col-dynamic:not(.list){
  flex: 0 0 22.5%;
  max-width: 22.5%;
}

.post-container[min-width~="1880px"] .post-col-dynamic:not(.list){
  flex: 0 0 18%;
  max-width: 18%;
}

/************************* END POST PANEL *************************/

/************************* START MODAL *************************/
.mat-configutaion-dialog,
.mat-dialog-panel,
.mat-filter-dialog{
  width:30%;

  @media screen and (max-width: 912px){
    width:60%;
  }

  @media screen and (max-width: 540px){
    width:90%;
  }
}

.mat-question-answer-dialog,
.mat-ki-share-dialog{
  width:40%;

  @media screen and (max-width: 912px){
    width:65%;
  }

  @media screen and (max-width: 540px){
    width:90%;
  }
}

.mat-news-detail-dialog,
.mat-ki-add-dialog{
  width:50%;

  @media screen and (max-width: 912px){
    width:70%;
  }

  @media screen and (max-width: 540px){
    width:90%;
  }
}

.mat-news-detail-dialog,
.mat-ki-add-dialog,
.mat-ki-share-dialog,
.mat-configutaion-dialog,
.mat-question-answer-dialog,
.mat-filter-dialog{
  @media screen and (max-width: 280px){
    width:96%;
  }
}

.mat-news-detail-dialog,
.mat-ki-add-dialog,
.mat-ki-share-dialog,
.mat-configutaion-dialog,
// .mat-question-answer-dialog,
.mat-filter-dialog,
.mat-dialog-panel{
  min-width: 30%;
  max-width:96vw!important;
  .mat-mdc-dialog-container{
    .mdc-dialog__container{
      .mat-mdc-dialog-surface{
        padding: 16px;
        border-radius: 20px;
        @media screen and (max-width: 280px){
          padding: 10px;
        }
      }
    }
  }
}
.mat-question-answer-dialog{
  min-width: 48%;
  max-width:96vw!important;
  .mat-mdc-dialog-container{
    .mdc-dialog__container{
      .mat-mdc-dialog-surface{
        padding: 16px;
        border-radius: 20px;
        @media screen and (max-width: 280px){
          padding: 10px;
        }
      }
    }
  }
}
.mat-form-input-option{
  color: #040F2F;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.mat-datepicker-content .mat-calendar{
  @media screen and (max-width: 280px) {
      width: 250px!important;;
  }
}

/************************* END MODAL *************************/

/************************* START SNACKBAR **************************/
.snackbar-success{
  .mdc-snackbar__surface{
    background-color: #d1e7dd!important;
    border-color: #badbcc!important;
  }
  .mdc-snackbar__label{
    color: #0f5132!important;
    .common-snackbar{
      .header-row{
        .close-button{
          border-color: #badbcc;
          .close-icon{
            color: #0f5132;
          }
        }
      }
      .message-text{
        border-top-color: #badbcc;
      }
    }
  }
}

.snackbar-warning{
  .mdc-snackbar__surface{
    background-color: #fff3cd!important;
    border-color: #ffecb5!important;
  }
  .mdc-snackbar__label{
    color: #664d03!important;
    .common-snackbar{
      .header-row{
        .close-button{
          border-color: #ffecb5;
          .close-icon{
            color: #664d03;
          }
        }
      }
      .message-text{
        border-top-color: #ffecb5;
      }
    }
  }
}

.snackbar-error{
  .mdc-snackbar__surface{
    background-color: #f8d7da!important;
    border-color: #f5c2c7!important;
  }
  .mdc-snackbar__label{
    color: #842029!important;
    .common-snackbar{
      .header-row{
        .close-button{
          border-color: #f5c2c7;
          .close-icon{
            color: #842029;
          }
        }
      }
      .message-text{
        border-top-color: #f5c2c7;
      }
    }
  }
}

.snackbar-info{
  .mdc-snackbar__surface{
    background-color: #cfe2ff!important;
    border-color: #b6d4fe!important;
  }
  .mdc-snackbar__label{
    color: #084298!important;
    .common-snackbar{
      .header-row{
        .close-button{
          border-color: #b6d4fe;
          .close-icon{
            color: #084298;
          }
        }
      }
      .message-text{
        border-top-color: #b6d4fe;
      }
    }
  }
}


/************************* END SNACKBAR ****************************/

/************************* START EMPTY PAGE ****************************/

.no-search-results {
  font-size: 18px;
  color: #4e525f;
  font-family: "Domine", serif;
  font-weight: 500;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 5rem;
  width: 100%;
}

.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center !important;
}
/************************* END EMPTY PAGE ****************************/

mat-error{
  font-family:'Roboto';
  font-size: 12px;
  // margin-left: 13px;
}
