<div class="home-toolbar">
    <div class="home-toolbar-search" fxLayout="row">
        <app-search-input [placeHolder]="'Search ...'"
                            (onSearch)="executeSearch($event)" 
                            (onClear)="clearSearch()"></app-search-input>
    </div>
   
    <!-- <app-outer-toolbar-buttons 
        (onFilter)="onFilterClick()" -->
        <app-outer-toolbar-buttons 
        [filterButtonVisible]="false"
        [groupMemberButtonVisible]="false"
        [noteButtonVisible]="false"
        [moreButtonVisible]="false"
        [backToParentButtonVisible]="false" 
        [createFolderButtonVisible]="false"
        [refreshButtonVisible]="false"
        [uploadFileButtonVisible]="false"
        [configurationButtonVisible]="false"
        [historyButtonVisible]="false"
        [addUserButtonVisible]="false"
        [workspaceButtonVisible]="false"
        [reportProgressButtonVisible]="false"
        ></app-outer-toolbar-buttons>
</div>

<div style="position: relative;" >
    
</div>


