<div class="home-toolbar">
  <div class="title">
    <span class="bold-title-1">Create your AI enabled Reports</span> on any topic of your choice from content from the
    <span class="bold-title-2">INTERNET</span> or from your
    <span class="bold-title-2">DOCUMENT REPOSITORY</span>
  </div>

  <div class="home-cards">
    <ng-container *ngFor="let card of homeCards; let i = index">
      <app-home-card [backgroundImage]="card.image" [title]="card.title" [description]="card.description"
        class="hover-scale"></app-home-card>
    </ng-container>
  </div>
</div>
