.home-toolbar {
  height: 35px;
  margin-bottom: 10px;
  margin-right: 2.5rem;

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    height: 80px;
  }

  .title {
    color: #4e525f;
    font-family: "Poppins", sans-serif;
    //font-size: 18px;
    font-size: clamp(1rem, 0.912rem + 0.2817vw, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 25px;
    @media screen and (max-width:414px){
      line-height: 24px;
      
    }

    p {
      margin: 0;
    }

    .bold-title-1 {
      font-weight: 600;
      color: #141516;
    }

    .bold-title-2 {
      font-weight: 600;
    }
  }

  .home-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 1.5rem;
    grid-gap: 25px;
    height: calc(100vh - 200px);

    @media screen and (max-width: 414px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
}

.home-toolbar-search {
  width: 65%;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  app-search-input {
    width: 100%;
  }
}

.ki-container {
  //border-top: 1px solid #333;
  height: calc(100vh - 283px);
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 75px;

  @media screen and (max-width: 1000px) {
    height: calc(100vh - 329px);
  }
}

.ki-container::after {
  content: "";
  clear: both;
  display: table;
}

:host ::ng-deep .mat-mdc-tab-header {
  width: calc(100% - 75px) !important;
  @media screen and (max-width: 540px) {
    width: 100% !important;
  }
}

.toggle-button-holder {
  position: absolute;
  right: 0;
  top: 3px;
  @media screen and (max-width: 540px) {
    display: none;
  }
}

.btn-toggle-group {
  height: 30px;
  border: none;

  .btn-toggle {
    border: none;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
    width: 30px;
    height: 28px;
    font-family: "Roboto", sans-serif;
    //font-size: 14px;
    font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
    font-style: bold;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-unchecked {
      display: block;
    }

    .img-checked {
      display: none;
    }
  }

  .btn-toggle.mat-button-toggle-checked {
    .img-unchecked {
      display: none;
    }

    .img-checked {
      display: block;
    }
  }
}

:host
  ::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content,
:host ::ng-deep .mat-button-toggle-label-content {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05); /* Change the scale value as per your preference */
}
