.home-toolbar {
  height: 35px;
  margin-bottom: 10px;
  margin-right: 2.5rem;

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    height: 80px;
  }

  .title {
    color: #606675;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
    margin-bottom: 39px;

    p {
      margin: 0;
    }
    .bold-title {
      font-weight: 600;
      color: #1C1D21;
    }

    .title-sm {
      font-size: 13px;
    }
  }

  .home-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
  }
}

.home-toolbar-search {
  width: 65%;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  app-search-input {
    width: 100%;
  }
}

.ki-container {
  //border-top: 1px solid #333;
  height: calc(100vh - 283px);
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 75px;

  @media screen and (max-width: 1000px) {
    height: calc(100vh - 329px);
  }
}

.ki-container::after {
  content: "";
  clear: both;
  display: table;
}

:host ::ng-deep .mat-mdc-tab-header {
  width: calc(100% - 75px) !important;
  @media screen and (max-width: 540px) {
    width: 100% !important;
  }
}

.toggle-button-holder {
  position: absolute;
  right: 0;
  top: 3px;
  @media screen and (max-width: 540px) {
    display: none;
  }
}

.btn-toggle-group {
  height: 30px;
  border: none;

  .btn-toggle {
    border: none;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
    width: 30px;
    height: 28px;
    font-family: "Nunito Semibold", sans-serif;
    font-size: 14px;
    font-style: bold;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-unchecked {
      display: block;
    }

    .img-checked {
      display: none;
    }
  }

  .btn-toggle.mat-button-toggle-checked {
    .img-unchecked {
      display: none;
    }

    .img-checked {
      display: block;
    }
  }
}

:host
  ::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content,
:host ::ng-deep .mat-button-toggle-label-content {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
