<div class="user-profile-container">
  <div class="user-profile-title">My Profile</div>

  <div class="user-profile-info">
    <div class="info" *ngFor="let info of profileInfo">
      <div class="fieldName">{{ info.fieldName }} :</div>
      <div class="fieldValue" *ngIf="info.fieldValue">
        {{ info.fieldValue }}
      </div>
      <div class="fieldValue-blank" *ngIf="!info.fieldValue">N/A</div>
    </div>
  </div>

  <div class="invoices">
    <div class="user-invoices-title">Invoices</div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="invoices">
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdOn | date : "medium" }}
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">
            {{ element.payment_details.amount }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of invoices"
      >
      </mat-paginator>
    </div>
  </div>
</div>
