.user-profile-container {
  .user-profile-title {
    color: #1c1d21;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
  }

  .user-profile-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.5px solid rgba(143, 148, 151, 0.63);
    border-bottom: 0.5px solid rgba(143, 148, 151, 0.63);
    gap: 1.3rem;

    .info {
      display: flex;
      gap: 1rem;

      .fieldName {
        color: #3f4556;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
      }

      .fieldValue {
        color: #3f4556;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 162.5% */
      }

      .fieldValue-blank {
        font-style: italic !important;
        color: #3f4556;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
      }
    }
  }
}


.invoices {
  .user-invoices-title{
    color: #1c1d21;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .invoice-container{
    display: flex;
  }
}