.common-snackbar{
    .header-row{
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        .header-icon{
            height: 24px;
            width: 24px;
            font-size: 24px;
            margin-right: 5px;
        }

        .header-title{
            font-weight: 500;
            //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
            line-height: 24px;
        }

        .close-button{
            width:20px;
            height: 20px;
            padding: 1px;
            border-width: 0.5px;
            border-style: solid;
            border-radius: 5px;
            background-color: transparent;
            cursor: pointer;

            .close-icon{
                width:16px;
                height: 16px;
                //font-size: 16px;
         font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
            }
        }
    }

    .message-text{
        border-top-width: 0.5px;
        border-top-style: solid;
        padding-top: 5px;
        //font-size: 14px;
         font-size: clamp(0.8125rem, 0.7685rem + 0.1408vw, 0.9375rem);
    }
}